.toolbar {
  position: relative;
  margin: 0;

  &.sticky {
    position: fixed;
    top: 51px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 15px;
    right: 0px;
    left: 74px;
    background-color: #fff;
    z-index: 200;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
