/* @override http://localhost:8001/css/base.css */

html, body {
	height: 100%;
}

table th {
	font-size: 80%;
}

.table td, .table th {
	text-align: center;
}

.table .name, .table .description {
	text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.table .description div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.table .name {
	font-weight: bold;
}

.table-align-left td, .table-align-left th {
    text-align: left;
}

.dropdown-menu li {
	text-align: left;
}

.icon-box {
  background-position: -384px -168px;
}

.badge-ready, .label-ready {
  background-color: #aded9b;
}

.badge-waiting, .label-waiting {
  background-color: #e5c737;
}

.badge-canceled, .label-canceled {
  background-color: #f2dede;
}

.badge-info2, .label-info2 {
  background-color: #d9edf7;
}

#wrap > .container, #wrap > .section {
	padding-top: 40px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

#content {
  margin-top: 10px;
  position: relative;
}

#footer, .push {
	clear: both;
	height: 4em;
}
.name {
  position: relative;
}

.unfold {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0;
}

#footer {
	background-color: #f5f5f5;
	height: 60px;
  z-index: 1031;
}

.credit {
	margin: 20px 0;
}

.table-fixed thead tr {
  background-color: #fff;
}

th {
    position: relative;
    padding-right: 16px;
}

i.sort {
    position: absolute;
    bottom: 1em;
    right: 0;
}

.bootstrap-datetimepicker-widget ul, .bootstrap-datetimepicker-widget li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-text {
    margin: 0;
}

.form-search {
    float: left;
    margin-bottom: 0;
}
.search-box {
    float: right;
}

.loader {
    background-color: rgba(100,100,100,.8);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(100,100,100,.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 150px;
    height: 50px;
    margin: -50px 0 0 -75px;
    text-align: center;
    vertical-align: center;
    z-index: 9999;
}

.loader p {
    margin: 15px;
}

table .header-fixed {
  position: fixed;
  top: 80px;
  /*left: 0;*/
  /*right: 0;*/
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.sticker {
  position: fixed;
  background-color: #fff;
  padding-top: 5px;
  z-index: 1021; /* 10 less than .navbar-fixed to prevent any overlap */
}

.dp {
  margin-bottom: 0;
}

.dp .icon-th {
    display: inline-block;
    margin-top: 10%;
}

.row-fluid .page {
  padding-left: 8.333333333%;
  margin-left: 0;
  width: 99%;
}

aside {
  z-index: 1020;
}

#nav-main {
  background-color: #333;
  font-size: 80%;
  height: 2000px;
}

#nav-main ul, #nav-main li {
  text-align: center;
  padding: 0;
}

#nav-main li {
  padding: 0 15px;
}

#nav-main li {
  border-bottom: 1px solid rgba(0,0,0,.8);
  border-top: 1px solid rgba(255,255,255,.2);
}

#nav-main a {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  padding: 10px 0;
}

#nav-main a:hover {
  color: #333;
  text-shadow: none;
}

#nav-main span {
	display: block;
	width: 100%;
}

.nav-list a:hover .icon-white {
  background-image: url(../js/libs/bootstrap/img/glyphicons-halflings.png);
}

.nav li {
  position: relative;
}

.nav a.active {
	background-color: #555;
}

.nav a.active:after {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-right: 11px solid #fff;
  margin-top: -11px;
  position: absolute;
  right: -1px;
  top: 50%;
}


#split-panes {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.pane {
  left: 0;
  top: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

#bottom-bar {
  background-color: #fff;
  position: relative;
  padding: 20px 0;
/*  width: 100%;*/
}

#bottom-bar {
  background: #fff;
  height: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

.handler {
  display: block;
  background-color: #333;
  box-shadow: rgba(0,0,0,.5) 0 0 10px;
  cursor: move;
  color: #fff;
  height: 18px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#bottom-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#workflows .err a {
  color: #000;
}

#workflows .err a:hover {
  text-decoration: none;
}

#workflows .badge a {
  color: #fff;
}

#msg {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}

.qorus-icon {
    display: inline-block;
    margin-right: 3px;
    height: 22px;
    vertical-align: middle;
    width: 22px;
}

.qorus-icon.qorus-icon-warning {
    background: url(../imgs/icon-warning.png) no-repeat;
}

.qorus-icon.qorus-icon-white {
    background: url(../imgs/icon-warning-white.png) no-repeat;
}

.treeview {
	 position: relative;
}

.treeview ul {
	list-style: none;
	text-indent: 0;
	position: relative;
	margin-left: 0;
}

.treeview ul ul {
	/*border-left:  1px solid #eee;*/
	margin: .3em;
	list-style: none;
	text-indent: 0;
	
}

.treeview li {	
  background-color: #fff;
	border-top: 1px solid #eee;
	padding-left: 15px;
}

.treeview li:nth-child(odd) {
	background-color: #f9f9f9;
}

.treeview li:first-child {
	border-top: 0;
}

.treeview li.parent:before {
	content:  "-";
	position: absolute;
	margin-left: -15px;
}

.treeview li.clps:before {
	content:  "+";
	position: absolute;
	margin-left: -15px;
}

.textview {
    display: none;
    height: auto;
}

.row-fluid .textview textarea {
    min-height: 400px;
    height: auto;
}

.copy-paste {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100;
}

.icon-error {
    color: #b94a48;
}

.icon-success {
    color: #468847;
}

#stepdetail {
    margin-left: -360px;
    width: 720px;
}

/* modal window */

#stepdetail .modal-body {
    max-height: none;
}

.table-vertical th, .table-vertical td {
    text-align: left;
}

.nav-tabs a {
    text-transform: capitalize;
}


/* PageSlider */
.pageslide {
    /* These styles MUST be included. Do not change. */
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1022;
    
    /* Specify the width of your pageslide here */
    max-width: 80%;
    /*min-width: 60%;*/

    padding: 0;
	overflow-y: auto;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: rgba(245,245,245,0.9);
    color: #000;
    -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    -webkit-transition: all 0.6s ease-in-out;
       -moz-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
}

.pageslide.left {
    right: -100%;
}

.pageslide.show {
    right: 0;
}

/*.pageslide .nav > li > a {
    color: #ccc;
}

.pageslide .nav > li > a:hover {
    color: #1589c9;
}

.pageslide .nav > li.active > a {
    background-color: #666;
    color: #fff;
}*/

/*.pageslide table {
	background-color: #fff;
}*/

/*.pageslide th {
    color: #fff;
}

.pageslide .table-striped tr {
    color:  #fff;
}

.pageslide .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #444;
}
*/

.pageslide .content {
    padding: 40px 20px;
    height: 90%;
}
.modal.wider {
  margin-left: -360px;
  width: 720px;
}

.modal form, .modal .form-actions {
  margin-bottom: 0;
}

/*.modal-body .help-inline {
    float: left;
    clear: both;
}*/

.table tr td {    
    -webkit-transition: background-color 1000ms linear;
       -moz-transition: background-color 1000ms linear;
         -o-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;
}

#content .table-striped tr.changed td {
    background-color: #dff0d8;
}

.align-middle {
  margin-top: 20px;
}

/* ellipsis */
.table .info {
  text-align: left;
  text-overflow: ellipsis;
  white-space:nowrap; 
  width:12em; 
  overflow:hidden;
  max-width: 200px;
}

.popover {
  max-width: 800px;
}

.popover-content {
  height: 200px;
  width: 800px;
}

.popover-content textarea {
  height: 180px;
  width: 760px;
}

#service-detail .tab-content {
    height: 80%;
}

#service-detail .tab-pane {
    height: 100%;
}

.row-fluid textarea.log {
  min-height: 400px;
  height: 90%;
}

.close-top-right {
  position: absolute;
  top: 60px;
  right: 20px;
}

/* fix treeview pre */

/*.treeview pre {
    display: block;
    background: inherit;
    word-wrap: break-word;
    margin: 0 0 0 auto;
    padding: 10px;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}*/

.table-numbered { 
    counter-reset: line-number; 
}

.table-numbered td:first-child:before {
    content: counter(line-number) ".";
    counter-increment: line-number;
}

.toolbar {
  margin: 0;
  padding-bottom: 5px;
}

.table-condensed td {
    padding: 0 5px;
}

.table-condensed td.narrow, .table-condensed th.narrow {
    width: 4em;
}

.context-menu {
    position: fixed;
    width: 150px;
}

.table td.property-key, .table td.property-value {
  text-align: left;
}

.table td.property-key {
  font-weight: bold;
  width: 20%;
}

.table td.property-actions {
    width: 50px;
}

.table td.text-left, .table th.text-left {
    text-align: left;
}

.table td.text-right, .table th.text-right {
    text-align: right;
}

.table thead.extra-padding td {
    font-size: 120%;
    padding-top: 20px;
    padding-bottom: 10px;    
}

#options td.description div {
  max-width: 200px;
}

.editable:hover:after {
  content: "\f040";
  color: '#000';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  margin-left: .3em;
}

/* ocmd */

#output {
  display: block;
  overflow-x: auto;
  height: 200px;
}

#output .error {
  color: red;
}

#output ul, #output li {
  list-style: none;
  text-indent: 0;
}

#output > ul {
  margin-left: 0;
}

/* resizable modal */
.ui-resizable-handle { z-index: auto !important; }

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}

.ui-resizable-se {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
}

.ui-resizable-se:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #666;
  border-left: 10px solid transparent;
}

.step {
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  min-height: 80px;
}

.step-level {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

/*.step-level:not(:last-child):after {
  content: "\f063";
  display: block;
  color: #666;
  font-family: 'FontAwesome';
  font-size: 150%;
  left: 50%;
  top: 100%;
  margin-left: -.5em;
  position: absolute;
}*/

.step-normal {
  background-color: '#fff';
}

/* diagram */ 

#canvas-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

#canvas-container { 
  position: relative; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  position: relative; 
}

#canvas { 
  position: absolute; 
}

.level {
  text-align: center;
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%;
}

.box {
  display: inline-block;
  background-color: green;
  border: 1px solid rgba(0,0,0,.2);
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  min-height: 40px;
  margin: 5px;
  min-width: 150px;
  overflow: hidden;
}

.box a {
  display: block;
  color: #000;
  height: 100%;
  padding: 10px 2%;
}

.box a:hover {
  text-decoration: none;
}

.box.process {
  border-radius: 5px;
}

.box.start {
  padding: 0;
  border-radius: 50%;
  background-color: red;
}

.indent {
  display: inline-block;
  width: 1em;
}