<table class="table table-condensed">
  <thead>
    <tr>
      <th data-toggle="prev-month"><i class="icon-chevron-left"></i></th>
      <th colspan="5"><%= month %></th>
      <th data-toggle="next-month"><i class="icon-chevron-right"></i></th>
    </tr>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>
  <tbody>
    <% var cntr = 0; %>
    <% _.each(days, function (day) { %>
      <% if (cntr === 0 ) { %><tr><% } %>
        <td class="<%= day.css %>" data-toggle="set-day" data-month="<%= day.month %>" data-year="<%= day.year %>" data-date="<%= day.date %>"><%= day.date %></td>
      <% if (cntr === 6 ) { %></tr><% } %>
      <% cntr = (cntr < 6) ? cntr+1 : 0 %>
    <% }) %>
  </tbody>
</table>