<% if (obj.groups) { %>
<% _.each(obj.groups, function (group) { %>
  <section class="group">
    <header>
      <h2><%= group.name %></h2>
      <button class="btn clear" data-group="<%= group.name %>"><i class="icon-remove"></i></button>
    </header>
    <% _.each(group.notifications, function (ntf) { %> 
    <article>
      <h2><%= ntf.title %> <time pubdate datetime="<%= ntf.date %>"><%= ntf.date %></time></h2>
      <p><%= ntf.description %></p>
    </article>
    <% }) %>
<% })%>
<% } else { %>
  <p>Empty notifications</p>
<% } %>