<div class="btn-group">
    <button class="btn btn-mini dropdown-toggle btn-<%= status_label %>" data-toggle="dropdown" href="#">
        <%= obj.status %>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <% _.each(obj.actions, function (action) { %>
            <li><a data-id="<%= obj.id %>" data-msg="<%= action %>ing..." data-action="<%= action %>"><i class="icon <%= getActionIcon(action) %>"></i> <%= action.toUpperCase() %></a></li>
        <% }) %>
    </ul>
</div>