<div class="navbar-inner">
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
           <a class="menu-icon"><i class="icon-reorder"></i></a>
           <h2 class="navbar-text"><span class="instance-key"><%= item['instance-key'] %></span></h2>
        </div>
        <div class="pull-right">
          <ul id="taskbar" class="taskbar"></ul>
          <div id="user-info"></div>
          <div id="notifications-icon"></div>
        </div>
    </div>
  </div>
</div>
