<table class="tree">
  <tbody>
<% _.each(obj.items, function(v, i) { %>
    <tr>
      <th class="text-left nowrap <%= (v.leaf) ? 'leaf': 'branch' %> <%= (v.node) ? 'node' : '' %>">
        <% _.each(_.range(v.level), function () { %><span class="indent"></span><% }) %>
        <% if (v.node) { %><span class='node'></span><% } else { %><span class="child"></span><% } %>
        <span class="value"><%= _.escape(v.key) %></span>
      </th>
      <td class="text-left">
        <%= _.escape(v.value) %>
      </td>
    </tr>
<% }) %>
  </tbody>
</table>