<div id="canvas-wrapper">
<canvas id="canvas"></canvas>
<div id="canvas-container" class="canvas">
  <% _.each(obj.steps, function (steps, idx1) { %>
    <div class="level">
      <% _.each(steps, function (step, idx2) { %>
        <% var status = "blank";
           var group = order.step_groups[step.name || step.id];
           var action = (step.type === 'start') ? '' : 'show-detail';
           if (step.type === 'start' && order.workflowstatus === 'ERROR') status = 'important';
           if (step.type === 'start' && order.workflowstatus !== 'ERROR') status = 'success';
           if (step.type !== 'start' && group) status = getStatusCSS(group.status);
           if (step.info && step.info.subwfls && step.info.subwfls.length > 1) {
               action = 'show-dd';
           }
        %>
        <div class="box <%= step.type %> <%= status %>" id="ds-<%= step.id %>" data-id="<%= step.id %>" data-links="<%= step.links_to.join(',')%>" data-action="<%= action %>"><a href="#"><%= step.name || step.id %></a></div>
      <% }) %>
    </div>
  <% }) %>
</div>
</div>