<div class="span6">
  <div class="system-health">
    Local health: 
    <span class="label label-<%= statusToCSS(obj.local.health) %>"><%= obj.local.health %></span>
    Ongoing <span class="badge badge-important"><%= obj.local.ongoing %></span> 
    Transient <span class="badge badge-warning"><%= obj.local.transient %></span>
  </div>
</div>
<div class="span6">
  <% _.each(obj.remote, function (remote) { %>
  <div class="remote-health">
    <%= remote.name %> health:
    <span class="label label-<%= statusToCSS(remote.health) %>"><%= remote.health %></span>
  </div>
  <% }) %>
</div>
