<div class="orders-toolbar btn-toolbar sticky toolbar toolbar-small"> 
  <div class="btn-group">
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <i class="icon-check-empty check-all checker"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu above">
      <li><a class="check-all">All</a></li>
      <li><a class="uncheck-all">None</a></li>
      <li><a class="invert">Invert</a></li>
    </ul>
  </div>
  <div class="btn-group hide toolbar-actions">
    <button class="btn btn-small" data-id="selected" data-action="retry" data-method="put"><i class="icon-refresh"></i> Retry</button>
    <button class="btn btn-small" data-id="selected" data-action="cancel" data-method="put"><i class="icon-remove-sign"></i> Cancel</button>
    <button class="btn btn-small" data-id="selected" data-action="block" data-method="put"><i class="icon-minus-sign"></i> Block</button>
    <button class="btn btn-small" data-id="selected" data-action="unblock" data-method="put"><i class="icon-ok-sign"></i> Unblock</button>
  </div>
  <div class="btn-group">
    <div class="input-prepend input-prepend-small date dp" data-date="<%= date %>" data-format="yyyy-MM-dd HH:mm:ss">
      <span class="add-on"><i class="icon-th"></i></span>
      <input type="text" class="input-medium" value="<%= date %>">
    </div>
    <div class="btn-group">
      <button class="btn btn-small" data-action="open" data-url="<%= obj.getAllUrl() %>">All</button>
      <button class="btn btn-small" data-action="open" data-url="<%= obj.get24hUrl() %>">24 h</button>
    </div>
  </div>
  <div class="btn-group btn-small">
    <select id='statuses' class="multiselect btn-small" multiple="multiple">
      <option value="all"<% if(obj.hasStatus('all')) { %> selected <% } %> >All</option>
       <% _.each(obj.predefined_statuses, function(error){ %>
         <option value="<%= error.toLowerCase() %>"<% if(obj.hasStatus(error.toLowerCase())) { %> selected <% } %> ><%= error %></option>
       <% }) %>
    </select>
    <button id="status-filter" class="btn btn-primary btn-small">Filter</button>
  </div>
   <div class="pull-right">
     <form class="form-search">
       <div class="input-append input-append-small search-box">
         <input type="text" class="search-query input-large" placeholder="Search...">
         <button type="submit" class="btn btn-small">&nbsp;<i class="icon-search"></i></button>
       </div>
     </form>
   </div>
</div>