<div class="workflows-toolbar btn-toolbar sticky toolbar">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-check-empty check-all checker"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu above">
      <li><a href="#" class="check-all">All</a></li>
      <li><a href="#" class="uncheck-all">None</a></li>
      <li><a href="#" class="invert">Invert</a></li>
      <li><a href="#" class="running">Running</a></li>
      <li><a href="#" class="stopped">Stopped</a></li>
      </ul>
    </div>
    <div class="btn-group hide toolbar-actions">
      <button class="btn" data-id="selected" data-action="enable" data-method="put"><i class="icon-off"></i> Enable</button>
      <button class="btn" data-id="selected" data-action="disable" data-method="put"><i class="icon-ban-circle"></i> Disable</button>
      <button class="btn" data-id="selected" data-action="reset" data-method="put"><i class="icon-refresh"></i> Reset</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu above pull-right">
        <li><a data-id="selected" data-action="hide" data-method="put"><i class="icon-flag-alt"></i> Set deprecated</a></li>
        <li><a data-id="selected" data-action="show" data-method="put"><i class="icon-flag"></i> Unset deprecated</a></li>
      </ul>
    </div>
    <div class="btn-group">
        <div class="input-prepend date dp" data-date="<%= date %>" data-format="yyyy-MM-dd HH:mm:ss">
          <span class="add-on"><i class="icon-th"></i></span>
          <input type="text" class="" value="<%= date %>">
        </div>
        <div class="btn-group">
          <button class="btn" data-action="open" data-option="date=all">All</button>
          <button class="btn" data-action="open" data-url="date=24h">24 h</button>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn<%= (running) ? ' btn-success' : '' %>" data-action="open" data-option="running">
          <i class="icon-<%= (running) ? 'check' : 'check-empty' %>"></i> Running
        </button>
        <button class="btn<%= (last) ? ' btn-success' : '' %>" data-action="open" data-option="last">
          <i class="icon-<%= (last) ? 'check' : 'check-empty' %>"></i> Last version
        </button>
        <button class="btn dropdown-toggle<%= (deprecated) ? ' btn-success' : '' %>" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu above pull-right">
          <li>
            <a data-action="open" data-option="deprecated">
              <i class="icon-<%= (deprecated) ? 'check' : 'check-empty' %>"></i> Deprecated
            </a>
          </li>
        </ul>
    </div>
    <div id="table-copy" class="btn-group toolbar-extra"></div>
    <div class="pull-right">
      <form class="form-search">
        <div class="input-append search-box">
          <input type="text" class="search-query appendInputButton" placeholder="Search..." value="<%= obj.query %>">
          <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
        </div>
      </form>
    </div>
</div>
<div class="datepicker-container"></div>
