<div class="workflows-toolbar btn-toolbar sticky toolbar"> 
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-check-empty check-all checker"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu above">
      <li><a href="#" class="check-all">All</a></li>
      <li><a href="#" class="uncheck-all">None</a></li>
      <li><a href="#" class="invert">Invert</a></li>
      <li><a href="#" class="running">Running</a></li>
      <li><a href="#" class="stopped">Stopped</a></li>
      </ul>
    </div>
    <div class="btn-group hide toolbar-actions">
      <button class="btn" data-id="selected" data-action="enable" data-method="put"><i class="icon-off"></i> Enable</button>
      <button class="btn" data-id="selected" data-action="disable" data-method="put"><i class="icon-ban-circle"></i> Disable</button>
      <button class="btn" data-id="selected" data-action="reset" data-method="put"><i class="icon-refresh"></i> Reset</button>
      <button class="btn" data-id="selected" data-action="hide" data-method="put"><i class="icon-flag-alt"></i> Hide</button>
      <button class="btn" data-id="selected" data-action="show" data-method="put"><i class="icon-flag"></i> Show</button>
    </div>
    <div class="btn-group">
        <div class="input-prepend date dp" data-date="<%= date %>" data-format="yyyy-MM-dd HH:mm:ss">
          <span class="add-on"><i class="icon-th"></i></span>
          <input type="text" class="" value="<%= date %>">
        </div>
        <div class="btn-group">
          <button class="btn" data-action="open" data-url="/workflows/all">All</button>
          <button class="btn" data-action="open" data-url="/workflows">24 h</button>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn" data-action="open" data-url="<%= url %>"><i class="icon-<%= (deprecated) ? 'flag' : 'flag-alt' %>"></i> <%= (deprecated) ? 'Only visible' : 'Show hidden' %></button>
    </div>
    <div class="pull-right">
    <form class="form-search">
      <div class="input-append search-box">
        <input type="text" class="search-query appendInputButton" placeholder="Search..." value="<%= obj.query %>">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
    </div>
</div>
<div class="datepicker-container"></div>