<% var item = obj.toJSON() %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="modalHeader"><%= item.name %></h3>
</div>
<div class="modal-body">
  <table class="table table-vertical">
    <tr>
      <th>Version</th>
      <td><%= item.version %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= item.function_type %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= item.description %></td>
    </tr>
    <tr>
      <th>Source</th>
      <td><%= item.source %></td>
    </tr>
    <tr>
      <th>Code</th>
      <td>
        <pre><code data-language="qore"><%= item.body %></code></pre>
      </td>
    </tr>
</div>