<ul class="nav nav-pills">
  <li class="active"><a data-target="#static-data">Static</a></li>
  <li><a data-target="#dynamic-data">Dynamic</a></li>
  <li><a data-target="#keys">Keys</a></li>
</ul>

<div class="tab-content">
  <div id="static-data" class="tab-pane active relative">
  <% if (staticdata) { %>
    <a href="#" class="btn btn-mini copy-paste" data-msg-off="Copy paste mode" data-msg-on="Tree mode">Copy paste mode</a>
    <div class="treeview">
        <%= nestedListTableFromArray(staticdata) %>
    </div>
    <div class="textview">
        <textarea class="span12"><%=  nestedListTextFromArray(staticdata) %></textarea>
    </div>
  <% } else { %>
  <p>No data</p>
  <% } %>
  </div>
  <div id="dynamic-data" class="tab-pane relative">
  <% if (dynamicdata) { %>
    <a href="#" class="btn btn-mini copy-paste" data-msg-off="Copy paste mode" data-msg-on="Tree mode">Copy paste mode</a>
    <div class="treeview">
        <%= nestedListTableFromArray(dynamicdata) %>
    </div>
    <div class="textview">
        <textarea class="span12"><%= nestedListTextFromArray(dynamicdata) %></textarea>
    </div>
  <% } else { %>
  <p>No data</p>
  <% } %>
  </div>
  <div id="keys" class="tab-pane relative">
  <% if (keys) { %>
    <a href="#" class="btn btn-mini copy-paste" data-msg-off="Copy paste mode" data-msg-on="Tree mode">Copy paste mode</a>
    <div class="treeview">
        <%= nestedListTableFromArray(keys) %>  
    </div>
    <div class="textview">
        <textarea class="span12"><%= nestedListTextFromArray(keys) %></textarea>
    </div>
  <% } else { %>
  <p>No data</p>
  <% } %>
  </div>
</div>