<ul class="nav nav-pills">
  <li class="active"><a data-target="#static-data">Static</a></li>
  <li><a data-target="#dynamic-data">Dynamic</a></li>
  <li><a data-target="#keys">Keys</a></li>
</ul>

<div class="tab-content">
  <div id="static-data" class="tab-pane active relative">
  <% if (staticdata) { %>
    <div class="btn-group copy-paste">
        <a href="#" class="btn btn-mini disabled" data-mode="treeview">Tree mode</a>
        <a href="#" class="btn btn-mini" data-mode="textview">Copy paste mode</a>
        <a href="#" class="btn btn-mini" data-mode="rawview">Edit Mode</a>
    </div>
    <div class="treeview">
        <%= nestedListTableFromArray(staticdata) %>
    </div>
    <div class="textview">
        <textarea class="span12"><%=  nestedListTextFromArray(staticdata) %></textarea>
    </div>
    <div class="rawview">
        <form id="StaticData" action="" method="get" accept-charset="utf-8">
        <textarea name="content" class="span12"><%=  JSON.stringify(item.staticdata, null, 4) %></textarea>
        <div class="alert"><strong>Warning!</strong> Posting new staticdata replaces original content and it can be fatal for business processing.</div>
        <button type="submit" class="btn btn-small btn-success"><i class="icon-upload"></i> Replace Staticdata</button>
        </form>
    </div>
  <% } else { %>
  <p>No data</p>
  <% } %>
  </div>
  <div id="dynamic-data" class="tab-pane relative">
  <% if (dynamicdata) { %>
    <div class="btn-group copy-paste">
        <a href="#" class="btn btn-mini disabled" data-mode="treeview">Tree mode</a>
        <a href="#" class="btn btn-mini" data-mode="textview">Copy paste mode</a>
        <a href="#" class="btn btn-mini" data-mode="rawview">Edit Mode</a>
    </div>
    <div class="treeview">
        <%= nestedListTableFromArray(dynamicdata) %>
    </div>
    <div class="textview">
        <textarea class="span12"><%= nestedListTextFromArray(dynamicdata) %></textarea>
    </div>
    <div class="rawview">
        <form id="DynamicData" action="" method="get" accept-charset="utf-8">
        <textarea name="content" class="span12"><%=  JSON.stringify(item.dynamicdata, null, 4) %></textarea>
        <div class="alert"><strong>Warning!</strong> Posting new dynamicdata replaces original content and it can be fatal for business processing.</div>
        <button type="submit" class="btn btn-small btn-success"><i class="icon-upload"></i> Replace Dynamicdata</button>
        </form>
    </div>
  <% } else { %>
  <p>No data</p>
  <% } %>
  </div>
  <div id="keys" class="tab-pane relative">
  <% if (keys) { %>
    <div class="btn-group copy-paste">
        <a href="#" class="btn btn-mini disabled" data-mode="treeview">Tree mode</a>
        <a href="#" class="btn btn-mini" data-mode="textview">Copy paste mode</a>
    </div>
    <div class="treeview">
        <%= nestedListTableFromArray(keys) %>  
    </div>
    <div class="textview">
        <textarea class="span12"><%= nestedListTextFromArray(keys) %></textarea>
    </div>
  <% } else { %>
  <p>No data</p>
  <% } %>
  </div>
</div>