<%  if (show_header) {  %>
<div class="row-fluid relative">
    <div class="span6">
        <h3 class='workflow-backlink'><a href="<%= getUrl('showWorkflow', { id: item.workflowid }) %>"><i class="icon-chevron-left"></i> <span class="workflow-status"></span> <%= item.name %> <small><%= item.version %></small> <small>ID#<%= item.workflow_instanceid %></small></a></h3>
    </div>
    <div class="toolbar"></div>
</div>
<% } %>

<ul class="nav <%= obj.tab_css ? obj.tab_css : 'nav-tabs' %>">
  <% _.each(obj.tabs(), function (tab, idx) { %>
  <li<%= (idx == 0) ? ' class="active"' : '' %>><a href="<%= tab.slug() %>" data-target="#<%= tab.slug() %>"><%= tab.name %></a></li>
  <% }) %>
</ul>

<div class="tab-content">
  <% _.each(obj.tabs(), function (tab, idx) { %>  
  <div id="<%= tab.slug() %>" class="tab-pane<%= (idx == 0) ? ' active' : '' %>"><i class="icon-spin icon-refresh"></i> Loading</div>
  <% }) %>
</div>

<!-- Modal -->
<div id="stepdetail">
</div>
<div class="push"></div>
