<td><i class="icon-check-empty check"></i></td>
<td></td>
<td class="text-left narrow">
  <div class="btn-controls">
    <% _.each(item.actions, function(action) { %>
      <a class="label <%= (action_css[action]) ? action_css[action].style : '' %>" data-action="<%= action %>" title="<%= action.toUpperCase() %>"><% if (action_css[action]) { %><i class="<%= action_css[action].icon %>"></i><% } else { %><%= action %><% } %></a>
    <% }); %>
  </div>
</td>
<td><span class="label label-<%= getStatusCSS(item.workflowstatus) %>"><%= item.workflowstatus %></span></td>
<td data-value="<%= item.business_error ? 1 : 0 %>">
  <% if (item.business_error) { %>
    <span class="label label-important"><i class="icon-exclamation-sign icon-white"></i></span>
  <% } %>
</td>
<td class="name"><a href="<%= getUrl('showOrder', { id: item.workflow_instanceid }) %>"><%= item.name %> <small>v<%= item.version %>, w:<%= item.workflow_instanceid %></small></a></td>
<td><%= item.started %></td>
<td><%= item.completed %></td>
<td><%= (item.error_count) ? item.error_count : 0 %></td>
<td><%= (item.warning_count) ? item.warning_count : 0 %></td>
<td data-value="<%= item.operator_lock ? 1 : 0 %>">
<% if (item.workflowstatus != 'COMPLETE') {%>
  <div class="btn-group">
    <a class="btn btn-mini dropdown-toggle<%= item.operator_lock ? ' btn-danger' : ' btn-success' %>" data-toggle="dropdown" href="#">
      <%= iconLock(item.operator_lock) %> <%= item.operator_lock %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% if (!item.operator_lock) { %>
        <li><a class="order-lock"><i class="icon-fixed-width icon-lock"></i> Lock</a></li>
      <% } else if (item.operator_lock && item.operator_lock === obj.user.get('username') ) {%>
      <li><a class="order-unlock"><i class="icon-fixed-width icon-unlock"></i> Unlock</a></li>
      <% } else if (obj.user.canBreakLock()) { %>
      <li><a class="order-breaklock"><i class="icon-fixed-width icon-ban-circle"></i> Break lock</a></li>
      <% } %>
    </ul>
  </div>
<% } %>
</td>
<td><%= item.note_count %></td>