<table class="table table-condensed table-striped table-bordered table-align-left">
  <tbody>
    <tr>
      <th class="narrow">Name</th>
      <td colspan="3"><%= model.name %> <small><%= model.version %></small></td>
    </tr>
    <tr>
      <th>Type</th>
      <td colspan="3"><%= model.steptype %></td>
    </tr>
    <tr>
      <th>Started</th>
      <td class="date"><%= (item) ? item.started : '' %></td>
      <th>Skipped</th>
      <td><%= (item) ? statusIcon(item.skip) : '' %></td>
    </tr>
    <tr>
      <th>Completed</th>
      <td class="date"><%= (item) ? item.completed : '' %></td>
      <th>Subwfl</th>
      <td><%= (item) ? item.subworfklow_instanceid : '' %></td>
    </tr>
    <tr>
      <th>Status</th>
      <td><%= wrapStatus((item) ? item.stepstatus : 'Not started') %></td>
      <th>Ind</th>
      <td><%= (item) ? item.ind : '' %></td>
    </tr>
  </tbody>
</table>