<h4>Errors</h4>
<table class="table table-stripped table-condensed table-bordered table-align-left">
  <thead>
    <tr>
      <th>Severity</th>
      <th>Error</th>
      <th>Ind</th>
      <th>Created</th>
      <th class="info">Info</th>
      <th>Business</th>
    </tr>
  </thead>
  <tbody>
    <% if (obj.errors.length > 0) { %>
    <% _.each(obj.errors, function (err) {%>
    <tr>
      <td><%= err.severity %></td>
      <td><%= err.error %></td>
      <td><%= err.ind %></td>
      <td><%= err.created %></td>
      <td class="info"><%= err.info %></td>
      <td><%= statusIcon(err.business_error) %></td>
    </tr>
    <% }) %>
    <% } else { %>
    <tr>
      <td colspan="6">No data to display</td>
    </tr>
    <% }%>
  </tbody>
</table>