<table class="table table-fixed table-striped table-numbered table-numbered-col-2 table-condensed">
  <thead class="header">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th data-sort="status">Status</th>
      <th data-sort="business_error">Bus. Err.</th>
      <th class="name" data-sort="workflow_instanceid">Order</th>
      <th data-sort="started">Started</th>
      <th data-sort="completed">Completed</th>
      <th data-sort="error_count">Errors</th>
      <th data-sort="warning_count">Warnings</th>
      <th data-sort="operator_lock">Lock</th>
      <th data-sort="notes">Notes</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>