<div id="alert-list">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
          <li><a href="?alerts/ongoing" data-target="#alerts-ongoing">Ongoing</a></li>
          <li><a href="?alerts/transient" data-target="#alerts-transient">Transient</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane" id="alerts-ongoing">
              <div class="row-fluid">
                  <div id="alerts-ongoing-list" class="span8">
                      
                  </div>
                  <div id="alerts-ongoing-detail" class="span4">
                      Detail
                  </div>
              </div>
          </div>
          <div class="tab-pane" id="alerts-transient">
              <div class="row-fluid">
                  <div id="alerts-transient-list" class="span8">
                      
                  </div>
                  <div id="alerts-transient-detail" class="span4">
                      Detail
                  </div>
              </div>              
          </div>
      </div>
    </div>
</div>