<div id="alert-list">
    <div class="tabbable">
      <ul class="nav nav-pills">
          <li class="active"><a href="ongoing" data-toggle="tab" data-target="#alerts-ongoing-<%= cid %>">Ongoing</a></li>
          <li><a href="transient" data-toggle="tab" data-target="#alerts-transient-<%= cid %>">Transient</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="alerts-ongoing-<%= cid %>">
              <div class="row-fluid">
                  <div id="alerts-ongoing-list-<%= cid %>">
                  </div>
              </div>
          </div>
          <div class="tab-pane " id="alerts-transient-<%= cid %>">
              <div class="row-fluid">
                  <div id="alerts-transient-list-<%= cid %>">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="alert-detail"></div>
</div>