<div class="container-fluid sticky"> 
    <div class="row-fluid">
        <div class="span1">
          <div class="btn-group">
				    <button class="btn dropdown-toggle" data-toggle="dropdown">
				      <i class="icon-box check-all"></i>
				      <span class="caret"></span>
            </button>
  			    <ul class="dropdown-menu above">
    					<li><a href="#" class="all">All</a></li>
    					<li><a href="#" class="none">None</a></li>
    					<li><a href="#" class="invert">Invert</a></li>
  			    </ul>
          </div>
        </div>
        <div class="span4">
          <div class="input-prepend date dp" data-date="<%= obj.date %>" data-format="yyyy-MM-dd hh:mm:ss">
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
            <input type="text" class="span10" value="<%= obj.date %>">
          </div>
          <div class="btn-group">
            <button class="btn"><a href="<%= obj.url + '/all' %>" class="button">All</a></button>
            <button class="btn"><a href="<%= obj.url %>" class="button">Today</a></button>
          </div>
        </div>
        <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <%= obj.statuses %>
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
           <% _.each(obj.predefined_statuses, function(error){ %>
             <li><a href="<%= obj.url + '/orders/' + error.toLowerCase() %>"><%= error %></a></li>
           <% }) %>
         </ul>
       </div>
        <div class="pull-right">
        <form class="form-search">
          <div class="input-append search-box">
            <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
            <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
          </div>
        </form>
        </div>
    </div>
</div>