<div class="relative">
  <h4>Workflow definitions</h4>
  <div class="pull-right">
    <form class="form-search form-small">
      <div class="input-append search-box">
        <input type="text" class="search-query appendInputButton" placeholder="Search..." value="<%= obj.query %>">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
  </div>
  <div class="workflow-errors-table"></div>
</div>
<div class="relative">
  <h4>Global definitions</h4>
      <div class="pull-right">
      <form class="form-search form-small">
        <div class="input-append search-box">
          <input type="text" class="search-query appendInputButton" placeholder="Search..." value="<%= obj.query %>">
          <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
        </div>
      </form>
    </div>
  <div class="global-errors-table"></div>
</div>
