<div class="btn-toolbar">
    <h3><span class="selectable"><%= item.name %></span> <small><%= item.version %></small></h3>
    <div class="pull-right">
    </div>
</div>
<p class="muted"><em><%= item.desc %></em></p>
<ul class="nav <%= obj.tab_css ? obj.tab_css : 'nav-tabs' %>">
  <% _.each(obj.tabs(), function (tab, idx) { %>
  <li<%= (idx == 0) ? ' class="active"' : '' %>><a href="<%= tab.slug() %>" data-target="#<%= tab.slug() %>"><%= tab.name %></a></li>
  <% }) %>
</ul>

<div class="tab-content">
  <% _.each(obj.tabs(), function (tab, idx) { %>  
  <div id="<%= tab.slug() %>" class="tab-pane<%= (idx == 0) ? ' active' : '' %>"><i class="icon-spin icon-refresh"></i> Loading</div>
  <% }) %>
</div>