<div id="services">
	<h2>Services Overview</h2>
	<table class="table table-striped">
		<thead>
		<tr>
			<th data-sort="serviceid">ID</th>
			<th data-sort="type">Type</th>
			<th class="name" data-sort="name">Name</th>
			<th data-sort="version">Version</th>
			<th class="description" data-sort="description">Description</th>
			<th data-sort="autostart">Autostart</th>
			<th data-sort="status">Status</th>
      <th></th>
		</tr>
		</thead>
		<tbody>
	        <% _.each( items, function( item ){ %>
	  			<tr class="service-row" data-id="<%= item.get('serviceid') %>">
	  				<td class="id"><%= item.get('serviceid') %></td>
	  				<td class="service_type"><% if (item.get('type') == 'system') { %>
                        <i class="icon-cog" data-toggle="tooltip" title="System"></i>
                        <% } else { %>
                        <i class="icon-user" data-toggle="tooltip" title="User"></i>
                        <% } %>
                   </td>
	  				<td class="name"><strong><%= item.get('name') %></strong></td>
	  				<td class="version"><%= item.get('version') %></td>
	  				<td class="description"><%= item.get('desc') %></td>
	  				<td class="autostart">
              <div class="btn-group">
						<% if (item.get('autostart')===true){ %>
                <button class="btn btn-mini active btn-success" data-id="<%= item.get('serviceid') %>" data-option="autostart" data-value="true">On</button>
                <button class="btn btn-mini" data-id="<%= item.get('serviceid') %>" data-option="autostart" data-value="false">Off</button>
						<% } else { %>
              <button class="btn btn-mini" data-id="<%= item.get('serviceid') %>" data-option="autostart" data-value="true">On</button>
              <button class="btn btn-mini active btn-danger" data-id="<%= item.get('serviceid') %>" data-option="autostart" data-value="false">Off</button>
						<% } %>
              </div>
					</td>
	  			<td class="status">
              <div class="btn-group btn-mini">
						<% if (item.get('status')=='loaded'){ %>
                <button class="btn active btn-mini btn-success" data-id="<%= item.get('serviceid') %>" data-option="status" data-value="loaded">On</button>
                <button class="btn btn-mini" data-id="<%= item.get('serviceid') %>" data-option="status" data-value="unloaded">Off</button>
						<% } else { %>
              <button class="btn btn-mini" data-id="<%= item.get('serviceid') %>" data-option="status" data-value="loaded">On</button>
              <button class="btn btn-mini active btn-danger" data-id="<%= item.get('serviceid') %>" data-option="status" data-value="unloaded">Off</button>
						<% } %>
              </div>
					</td>
          <td>
            <button class="btn btn-mini btn-inverse" data-id="<%= item.get('serviceid') %>" data-option="reset" data-value="true">Reset</button>
          </td>
	  			</tr>
	        <% }); %>
		</tbody>
	</table>
</div>
<div id="service-detail" class="pageslide left"></div>