<% 
  var orig_item = item;
  var item = item.toJSON(); 
  item.id = item.serviceid;
%>
  <tr class="service-row" data-id="<%= item.id %>">
      <td class="id"><%= item.id %></td>
      <td class="service_type">
          <% if (item.type == 'system') { %>
          <i class="icon-cog" data-toggle="tooltip" title="System"></i>
          <% } else { %>
          <i class="icon-user" data-toggle="tooltip" title="User"></i>
          <% } %>
      </td>
      <td class="status"><span class="label <%= getLabel(item.status) %>"><%= item.status %></span></td>
      <td class="threads"><%= item.threads %></td>                
      <td class="name"><strong><%= item.name %></strong></td>
      <td class="version"><%= item.version %></td>
      <td class="description"><%= item.desc %></td>
      <td class="autostart"><%= powerButton(item.autostart, { option: 'autostart', on: 'true', off: 'false', id: item.id }) %></td>
      <td>
      	<div class="btn-group">
            <% _.each(orig_item.actions(), function(action) { %>
              <button class="btn btn-mini <%= (action_css[action]) ? action_css[action] : '' %>" data-id="<%= item.id %>" data-msg="<%= action %>ing..." data-action="<%= action %>"><%= action.toUpperCase() %></button>
            <% }); %>
      	</div>
      </td>
  </tr>