<table class="table table-striped table-hover table-fixed table-condensed">
	<thead class="header">
	<tr>
    <th></th>
		<th class="narrow" data-sort="serviceid">ID</th>
		<th class="narrow" data-sort="type">Type</th>
		<th data-sort="status">Status</th>
		<th class="narrow" data-sort="threads">Threads</th>
		<th class="name" data-sort="name">Name</th>
		<th class="narrow" data-sort="version">Version</th>
		<th class="description" data-sort="description">Description</th>
		<th data-sort="autostart">Autostart</th>
	</tr>
	</thead>
	<tbody>
	</tbody>
</table>