.checkbox-wrapper {
  margin-bottom: 0;
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  line-height: 14px;
  padding: 0;
  vertical-align: sub;
  margin-bottom: 0 !important;
  padding-right: 30px !important;

  .bp3-control-indicator {
    width: 14px;
    height: 14px;
    line-height: 14px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: -30px !important;
  }
}

.bp3-control.bp3-checkbox .bp3-control-indicator {
  font-size: 14px;
}
