.checkbox-wrapper {
  margin-bottom: 0;
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  line-height: 14px;
  padding: 0;
  vertical-align: sub;

  .pt-control-indicator {
    width: 14px;
    height: 14px;
    line-height: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.pt-control.pt-checkbox .pt-control-indicator {
  font-size: 14px;
}
