.masonryTriple .dashboard-module {
  width: 32%;
}

.masonryDouble .dashboard-module {
  width: 49%;
}

.dashboard-module {
  background-color: white;
  padding: 15px;
  // margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  clear: both;
  overflow: hidden;

  .content {
    width: 100%;
  }

  .subtitle {
    color: #333;
    padding: 10px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(darken(#fff, 6), 0.4);
    height: 40px;
    clear: both;
    cursor: pointer;

    .fa {
      margin: 0 3px;
    }

    .badge {
      vertical-align: baseline;
    }
  }

  .title {
    font-size: 16px;
    padding: 10px;
    color: #fff;
    margin-bottom: 0;

    &.blue {
      background-color: #22a7f0;
      border-bottom: 1px solid rgba(darken(#22a7f0, 15), 0.4);
    }

    &.crimson {
      background-color: #c93756;
      border-bottom: 1px solid rgba(darken(#c93756, 15), 0.4);
    }

    &.iris {
      background-color: #763568;
      border-bottom: 1px solid rgba(darken(#763568, 15), 0.4);
    }

    &.green {
      background-color: #26a65b;
      border-bottom: 1px solid rgba(darken(#26a65b, 15), 0.4);
    }

    &.yellow {
      background-color: #e2b13c;
      border-bottom: 1px solid rgba(darken(#e2b13c, 15), 0.4);
    }

    &.stone {
      background-color: #6c7a89;
      border-bottom: 1px solid rgba(darken(#6c7a89, 15), 0.4);
    }

    &.orange {
      background-color: #f9690e;
      border-bottom: 1px solid rgba(darken(#f9690e, 15), 0.4);
    }

    &.sky {
      background-color: #4d8fac;
      border-bottom: 1px solid rgba(darken(#4d8fac, 15), 0.4);
    }

    &.purple {
      background-color: #875f9a;
      border-bottom: 1px solid rgba(darken(#875f9a, 15), 0.4);
    }
  }
}

.dashboard-module-item {
  font-size: 12px;
  color: #333;
  display: inline;
}

.separator {
  font-size: 6px;
  vertical-align: middle;
  margin: 0 4px;
}

.dashboard-module-overview {
  width: 47.5%;
  height: 100px;
  float: left;
  color: #333;

  &:first-child {
    margin-right: 5%;
  }

  .overview-module {
    background-color: #dddddd;

    &.warning {
      color: #fff;
      background-color: lighten(#d99e0b, 5);
    }

    &.none {
      color: #333;
      background-color: #cccccc;
    }

    &.danger {
      color: #fff;
      background-color: #d13913;
    }

    &.success {
      color: #fff;
      background-color: $qore-green;
    }
  }

  .module {
    height: 50%;
    width: 100%;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    div:first-child {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
    }

    div:last-child {
      height: 20px;
      line-height: 20px;
      font-size: 11px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Nunito';
    }
  }
}

.dashboard-data-loadmore {
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #eee;
}

.dashboard-module-wide {
  clear: both;
  margin-top: 10px;
  width: 100%;
  height: 76px;

  .dashboard-data-title {
    padding: 0 10px;
    width: 100%;
    height: 26px;
    line-height: 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #333;
    background-color: #dddddd;

    &.warning {
      color: #fff;
      background-color: #d99e0b;
    }

    &.danger {
      color: #fff;
      background-color: #d13913;
    }

    &.success {
      color: #fff;
      background-color: $qore-green;
    }
  }

  > .bottom {
    width: 100%;

    &:last-of-type {
      border-top: 1px solid #dddddd;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    height: 50px;
    color: #333;
    background-color: lighten(#dddddd, 5);

    &.warning {
      color: #fff;
      background-color: lighten(#d99e0b, 5);

      .module:first-child {
        border-right: 1px solid #d99e0b;
      }
    }

    &.danger {
      color: #fff;
      background-color: lighten(#d13913, 5);

      .module:first-child {
        border-right: 1px solid #d13913;
      }
    }

    &.success {
      color: #fff;
      background-color: lighten($qore-green, 5);

      .module:first-child {
        border-right: 1px solid darken($qore-green, 5);
      }
    }

    .module {
      width: 50%;
      height: 100%;
      float: left;

      &:first-child {
        border-right: 1px solid #dddddd;
      }

      .top {
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
      }

      > .bottom {
        height: 20px;
        line-height: 20px;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Nunito';
      }
    }
  }
}

.dashboard-module-small {
  width: 30%;
  height: 50px;
  float: left;
  border-radius: 4px;
  color: #333;
  background-color: #dddddd;

  .top {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
  }

  .bottom {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito';
  }

  &:not(:nth-child(3n)) {
    margin-right: 5%;
  }
}

.dashboard-data-module {
  width: 30%;
  height: 150px;
  float: left;

  &:not(:nth-child(3n)) {
    margin-right: 5%;
  }

  .dashboard-data-title {
    width: 100%;
    height: 26px;
    line-height: 26px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    color: #333;
    background-color: #dddddd;
  }

  .dashboard-data-top {
    height: 62px;
    width: 100%;
    color: #333;
    background-color: lighten(#dddddd, 5);
    border-bottom: 1px solid darken(#dddddd, 5);
  }

  .dashboard-data-bottom {
    height: 62px;
    width: 100%;
    background-color: $qore-green;
    border-top: 1px solid darken($qore-green, 4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;

    &.has-alerts {
      border-top: 1px solid darken(#d13913, 4);
      background-color: #d13913;
    }
  }

  .dashboard-data-top,
  .dashboard-data-bottom {
    .db-data-content {
      line-height: 40px;
      font-size: 25px;
      text-align: center;
    }

    .db-data-label {
      line-height: 22px;
      font-size: 11px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Nunito';
    }
  }
}

.module-wrapper {
  overflow: hidden;
}
