/**
 * Special footer style.
 *
 * 1. Fixes footer to the bottom and stretches to the full width.
 * 2. Unites `p` style with different margins here.
 * 3. Makes sure footer does not overflow other parts of the page.
 */
footer {
  position: fixed; /* [1] */
  bottom: 0; /* [1] */
  width: 100%; /* [1] */
  height: 30px;
  line-height: 30px;

  background-color: darken($bgcolor, 3) !important;

  white-space: nowrap; /* [3] */
  overflow-x: auto; /* [3] */
  overflow-y: hidden; /* [3] */

  padding: 0 10px;

  z-index: 19;

  p {
    line-height: 30px;
  }
}
