$footer-padding: $line-height-computed / 4;
$footer-height: 2 * $footer-padding + $line-height-computed;


/**
 * Special footer style.
 *
 * 1. Fixes footer to the bottom and stretches to the full width.
 * 2. Unites `p` style with different margins here.
 * 3. Makes sure footer does not overflow other parts of the page.
 */
footer {
  position: fixed; /* [1] */
  bottom: 0; /* [1] */
  width: 100%; /* [1] */

  background-color: $panel-footer-bg;

  white-space: nowrap; /* [3] */
  overflow-x: auto; /* [3] */
  overflow-y: hidden; /* [3] */

  p {
    margin: $footer-padding 0; /* [2] */
  }
}
