<% if (item.get('id')) { %>
<%  if (!obj.workflow) {  
      var itm = item.toJSON();
%>
  <h3><%= itm.InstanceInfo.name %> <small><%= itm.InstanceInfo.version%></small></h3>
  <p><%= wrapStatus(itm.InstanceInfo.workflowstatus) %> Workflow Instance ID: <%= itm.InstanceInfo.workflow_instanceid %></p>
<% } %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#instance-info">Info</a></li>
  <li><a href="#order">Order</a></li>
  <li><a href="#staticdata">Static Data</a></li>
  <li><a href="#dynamicdata">Dynamic Data</a></li>
  <li><a href="#steps">Steps</a></li>
  <li><a href="#errors">Errors</a></li>
  <li><a href="#hierarchy">Hierarchy</a></li>
  <li><a href="#audit-events">Audit Events</a></li>
</ul>

<div class="tab-content">
  <% 
    var it = item.toJSON();
    if (obj.workflow) {
       var wfl = workflow.toJSON();
    }
  %>
  <div class="tab-pane active" id="instance-info">
    <table class="table table-striped table-hover table-align-left">
        <% for (var k in it.InstanceInfo) { %>
          <tr>
            <td class="name"><%= k %></td>
            <td><%= it.InstanceInfo[k] %></td>
          </tr>
        <% } %>
    </table>
  </div>
  
  <div class="tab-pane" id="order">
    <div class="row-fluid">
        <h3>Order Info</h3>
        <table class="table table-striped table-hover table-align-left">
          <tbody>
            <% for (var k in it.OrderInfo) { 
              if (!(k == 'dynamicdata' || k == 'staticdata')){ %>
              <tr>
                <td class="name"><%= k %></td>
                <% if (k != 'keys') { %>
                <td><%= it.OrderInfo[k] %></td>
                <% } else { %>
                <td><%= createNestedList(it.OrderInfo[k]) %></td>
                <% } %>
              </tr>
            <% }} %>
          </tbody>
        </table>
    </div>
  </div>
  <div class="tab-pane" id="staticdata">
    <div class="row-fluid">
        <h3>Static data</h3>
        <% if (it.OrderInfo.staticdata) { %>
          <div class="treeview">
        <%= createNestedList(it.OrderInfo.staticdata) %>  
          </div>
        <% } else { %>
        <p>No data</p>
        <% } %>
    </div>
  </div>
  <div class="tab-pane" id="dynamicdata">
    <div class="row-fluid">
        <h3>Dynamic data</h3>
        <% if (it.OrderInfo.dynamicdata) { %>
          <div class="treeview">
        <%= createNestedList(it.OrderInfo.dynamicdata) %>  
          </div>
        <% } else { %>
        <p>No data</p>
        <% } %>
    </div>
  </div>

  <div class="tab-pane" id="steps">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Status</th> 
          <th class="name">Name</th>
          <th>Error Type</th>
          <th>Custom Status</th>
          <th>Ind</th>
          <th>Retries</th>
          <th>Skip</th>
          <th>Started</th>
          <th>Completed</th>
          <th>SubWFL IID</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.StepInstances, function(step) { %>
        <tr class="<%= step.stepname %><% if (step.ind > 0) { %> substep<% } %>">
          <td><%= wrapStatus(step.stepstatus) %></td> 
          <td class="name showstep" data-id="<%= step.function_instanceid %>"><%= step.stepname %></td>
          <td><%= (step.business_error) ? 'Business' : 'Other' %></td>
          <td><%= step.custom_status %></td>
          <td><%= step.ind %></td>
          <td><%= step.retries %></td>
          <td><%= statusIcon(step.skip) %></td>
          <td><%= step.started %></td>
          <td><%= step.completed %></td>
          <td><% if (step.subworkflow_instanceid) { %>
            <a href="/orders/view/<%= step.subworkflow_instanceid %>"><%= step.subworkflow_instanceid %></a>
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="errors">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Severity</th>
          <th>Error Code</th>
          <th>Description</th>
          <th>Step Name</th>
          <th>Ind</th>
          <th>Created</th>
          <th>Error Type</th>
          <th>Created by</th>
          <th>Error IID</th>
          <th>Info</th>
          <th>Retry</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.ErrorInstances, function(error) { %>
        <tr>
          <td><%= error.severity %></td> 
          <td><%= error.error %></td>
          <td><%= error.description %></td>
          <td><%= getStepName(error.stepid) %></td>
          <td><%= error.ind %></td>  
          <td><%= error.created %></td>
          <td><%= (error.business_error) ? 'Business' : 'Other' %></td>
          <td><%= error.createdby %></td>
          <td><%= error.error_instanceid %></td>
          <td><%= error.info %></td>
          <td><%= error.retry %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="hierarchy">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Status</th>
          <th>Status orig</th>
          <th>Archive</th>
          <th>Error Type</th>
          <th>Custom Status</th>
          <th>Custom Status Description</th>
          <th>Errors</th>
          <th>Priority</th>
          <th>Scheduled</th>
          <th>Status Session ID</th>
          <th>Subworkflow</th>
          <th>Synchronous</th>
          <th>Warnings</th>
          <th>Workflow ID</th>
          <th>Workflow IID</th>
          <th>Parent Workflow IID</th>
          <th>Started</th>
          <th>Modified</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.HierarchyInfo, function(ha) { %>
        <tr>
          <td><%= wrapStatus(ha.workflowstatus) %></td>
          <td><%= ha.workflowstatus_orig %></td>
          <td><%= ha.archive %></td>
          <td><%= ha.business_error ? 'Business' : 'Other' %></td>
          <td><%= ha.custom_status %></td>
          <td><%= ha.custom_status_desc %></td>
          <td><%= ha.errors %></td>
          <td><%= ha.priority %></td>
          <td><%= ha.scheduled %></td>
          <td><%= ha.status_sessionid %></td>
          <td><%= statusIcon(ha.subworkflow) %></td>
          <td><%= ha.synchronous %></td>
          <td><%= ha.warnings %></td>
          <td><%= ha.workflowid %></td>
          <td><%= ha.workflow_instanceid %></td>
          <td><%= ha.parent_workflow_instanceid %></td>           
          <td><%= ha.started %></td>          
          <td><%= ha.modified %></td>
          <td><%= ha.completed %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  
  <div class="tab-pane" id="audit-events">
    <table class="table table-striped table-hover table-align-left">
      <thead>
        <tr>
          <th>Event Code</th>
          <th>Event ID</th>
          <th>Created</th>
          <th>Event</th>
          <th>Info</th>
          <th>Reason</th>
          <th>Source</th>
          <th>Who</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.AuditEvents, function(audit) { %>
        <tr>
          <td><%= audit.audit_event_code %></td>
          <td><%= audit.audit_eventid %></td>
          <td><%= audit.created %></td>
          <td><%= audit.event %></td>
          <td><%= audit.info1 %></td>
          <td><%= audit.reason %></td>
          <td><%= audit.source %></td>
          <td><%= audit.who %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div id="stepdetail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true">
</div>
<div class="push"></div>
<% } %>