<ul class="nav nav-tabs">
  <li class="active"><a href="#instance-info">Info</a></li>
  <li><a href="#order">Order</a></li>
  <li><a href="#steps">Steps</a></li>
  <li><a href="#errors">Errors</a></li>
  <li><a href="#hierarchy">Hierarchy</a></li>
  <li><a href="#audit-events">Audit Events</a></li>
</ul>

<div class="tab-content">
  <% 
    var it = item.toJSON();
    var wfl = workflow.toJSON();
  %>
  <div class="tab-pane active" id="instance-info">
    <table class="table table-striped table-hover span4">
        <% for (var k in it.InstanceInfo) { %>
          <tr>
            <td class="name"><%= k %></td>
            <td><%= it.InstanceInfo[k] %></td>
          </tr>
        <% } %>
    </table>
  </div>
  
  <div class="tab-pane" id="order">
    <div class="row-fluid">
      <div class="span4">
        <h3>Order Info</h3>
        <table class="table table-striped table-hover">
          <tbody>
            <% for (var k in it.OrderInfo) { 
              if (!(k == 'dynamicdata' || k == 'staticdata')){ %>
              <tr>
                <td class="name"><%= k %></td>
                <td><%= it.OrderInfo[k] %></td>
              </tr>
            <% }} %>
          </tbody>
        </table>
      </div>
      <div class="span4">
        <h3>Static data</h3>
        <table class="table table-striped table-hover">
          <tbody>
            <% for (var val in it.OrderInfo.staticdata) { %>
              <tr>
                <td class="name"><%= val %></td>
                <td><%= it.OrderInfo.staticdata[val] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="span4">
        <h3>Dynamic data</h3>
        <table class="table table-striped table-hover">
          <tbody>
            <% for (var val in it.OrderInfo.dynamicdata) { %>
              <tr>
                <td class="name"><%= val %></td>
                <td><%= it.OrderInfo.dynamicdata[val] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="steps">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Business Error</th>
          <th>Custom Status</th>
          <th>Flow Instance ID</th>
          <th>Ind</th>
          <th>Retries</th>
          <th>Skip</th>
          <th>Started</th>
          <th>Completed</th>
          <th>Step Name</th>
          <th>Step Status</th> 
          <th>SubWFL Instance ID</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.StepInstances, function(step) { %>
        <tr>
          <td><%= (step.business_error) ? 'Business' : 'Other' %></td>
          <td><%= step.custom_status %></td>
          <td><%= step.flow_instanceid %></td>
          <td><%= step.ind %></td>
          <td><%= step.retries %></td>
          <td><%= step.skip %></td>
          <td><%= step.started %></td>
          <td><%= step.completed %></td>
          <td><%= wfl.stepmap[step.stepid] %></td>
          <td><%= step.stepstatus %></td> 
          <td><%= step.subworkflow_instanceid %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="errors">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Severity</th>
          <th>Error Code</th>
          <th>Description</th>
          <th>Step Name</th>
          <th>Ind</th>
          <th>Created</th>
          <th>Error Type</th>
          <th>Created by</th>
          <th>Error IID</th>
          <th>Info</th>
          <th>Retry</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.ErrorInstances, function(error) { %>
        <tr>
          <td><%= error.severity %></td> 
          <td><%= error.error %></td>
          <td><%= error.description %></td>
          <td><%= wfl.stepmap[error.stepid] %></td>
          <td><%= error.ind %></td>  
          <td><%= error.created %></td>
          <td><%= (error.business_error) ? 'Business' : 'Other' %></td>
          <td><%= error.createdby %></td>
          <td><%= error.error_instanceid %></td>
          <td><%= error.info %></td>
          <td><%= error.retry %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="hierarchy">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Archive</th>
          <th>Business Error</th>
          <th>Completed</th>
          <th>Custom Status</th>
          <th>Custom Status Description</th>
          <th>Errors</th>
          <th>Created by</th>
          <th>Modified</th>
          <th>Modified by</th>
          <th>Parent Workflow IID</th>
          <th>Priority</th>
          <th>Scheduled</th>
          <th>Started</th>
          <th>Status Session ID</th>
          <th>Subworkflow</th>
          <th>Synchronous</th>
          <th>Warnings</th>
          <th>Workflow Instance ID</th>
          <th>Workflow ID</th>
          <th>Workflow status</th>
          <th>Workflow status orig</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.HierarchyInfo, function(ha) { %>
        <tr>
          <td><%= ha.archive %></td>
          <td><%= ha.business_error %></td>
          <td><%= ha.completed %></td>
          <td><%= ha.custom_status %></td>
          <td><%= ha.custom_status_desc %></td>
          <td><%= ha.errors %></td>
          <td><%= ha.createdby %></td>
          <td><%= ha.modified %></td>
          <td><%= ha.modifiedby %></td>
          <td><%= ha.parent_workflow_instanceid %></td>
          <td><%= ha.priority %></td>
          <td><%= ha.scheduled %></td>
          <td><%= ha.started %></td>
          <td><%= ha.status_sessionid %></td>
          <td><%= ha.subworkflow %></td>
          <td><%= ha.synchronous %></td>
          <td><%= ha.warnings %></td>
          <td><%= ha.workflow_instanceid %></td>
          <td><%= ha.workflowid %></td>
          <td><%= ha.workflowstatus %></td>
          <td><%= ha.workflowstatus_orig %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  
  <div class="tab-pane" id="audit-events">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Event Code</th>
          <th>Event ID</th>
          <th>Created</th>
          <th>Event</th>
          <th>Info</th>
          <th>Reason</th>
          <th>Source</th>
          <th>Who</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(it.AuditEvents, function(audit) { %>
        <tr>
          <td><%= audit.audit_event_code %></td>
          <td><%= audit.audit_eventid %></td>
          <td><%= audit.created %></td>
          <td><%= audit.event %></td>
          <td><%= audit.info1 %></td>
          <td><%= audit.reason %></td>
          <td><%= audit.source %></td>
          <td><%= audit.who %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>

</div>