<table class="table table-striped table-hover table-align-left table-condensed">
      <tr>
        <td class="name">Name</td>
        <td><%= item.name %></td>
      </tr>
      <tr>
        <td class="name">Workflow Instance ID</td>
        <td><%= item.workflow_instanceid %></td>
      </tr>
      <tr>
        <td class="name">Workflow ID</td>
        <td><%= item.workflowid %></td>
      </tr>
      <tr>
        <td class="name">Status</td>
        <td><%= wrapStatus(item.workflowstatus) %></td>
      </tr>
      <tr>
        <td class="name">Session ID</td>
        <td><%= item.status_sessionid %></td>
      </tr>
      <tr>
        <td class="name">Started</td>
        <td><%= item.started %></td>
      </tr>
      <tr>
        <td class="name">Completed</td>
        <td><%= item.completed %></td>
      </tr>
      <tr>
        <td class="name">Modified</td>
        <td><%= item.modified %></td>
      </tr>
      <tr>
        <td class="name">Parent Instance</td>
        <td><%= item.parent_workflow_instanceid %></td>
      </tr>
      <tr>
        <td class="name">Synchronous</td>
        <td><%= item.synchronous %></td>
      </tr>
      <tr>
        <td class="name">Error Type</td>
        <td><%= item.business_error ? 'Business' : 'Other' %></td>
      </tr>
      <tr>
        <td class="name">Archive</td>
        <td><%= item.archive %></td>
      </tr>
      <tr>
        <td class="name">Warnings</td>
        <td><%= item.warning_count %></td>
      </tr>
      <tr>
        <td class="name">Errors</td>
        <td><%= item.error_count %></td>
      </tr>
      <tr>
        <td class="name">Custom Status</td>
        <td><%= item.custom_status %></td>
      </tr>
      <tr>
        <td class="name">Custom Status Description</td>
        <td><%= item.custom_status_desc %></td>
      </tr>
      <tr>
        <td class="name">Priority</td>
        <td><%= item.priority %></td>
      </tr>
      <tr>
        <td class="name">Scheduled</td>
        <td><%= item.scheduled %></td>
      </tr>
</table>