$form-search-height: 22px;
$form-search-border-width: 1px;
$form-search-font-size: ceil($font-size-base * 0.75);
$form-search-padding-vertical: ceil(
  $form-search-height -
  ($line-height-small * $form-search-font-size) -
  (2 * $form-search-border-width)
);


/**
 * Form search is a number of grouped extra small form controls.
 *
 * 1. The field must be sized manually because there is no extra small
 *    form control.
 * 2. If the field is also the first form control, is has left border
 *    rounded.
 * 3. Search can have modifier ("mod") like regular expression
 *    toggle. Currently, mod is expected to be before the field.
 * 4. Form can be submitted via main button ("btn"). It is expected
 *    that btn is the last control.
 */
.form-search {
  margin: 0 0 ($line-height-computed / 2);

  & &__field { /* [1] */
    font-size: $form-search-font-size;
    line-height: $line-height-small;

    height: $form-search-height;
    padding: $form-search-padding-vertical $padding-small-horizontal;
    border-radius: 0;

    &:first-child { /* [2] */
      border-radius: ($form-search-height / 2) 0 0 ($form-search-height / 2);
    }
  }

  & &__mod { /* [3] */
    border-right: 0;

    &:first-child {
      border-radius: ($form-search-height / 2) 0 0 ($form-search-height / 2);
    }
  }

  & &__btn { /* [4] */
    border-left: 0;

    &:last-child {
      border-radius: 0 ($form-search-height / 2) ($form-search-height / 2) 0;
    }
  }
}
