.container-resizable {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
