.expandable-item {
  .expandable-item_title {
    color: $qore-cobalt;
    cursor: pointer;

    h4 {
      font-size: 15px;
      display: inline-block;
      margin: 0;
    }

    padding: 5px 8px 5px 5px;
    display: inline-block;
    background-color: lighten($qore-cobalt, 50);
    border-radius: 5px;
    transition: all linear 0.2s;

    &.expanded {
      border-bottom-left-radius: 0;
      color: inherit;
      background-color: lighten($qore-cobalt, 35);

      h4 {
        font-weight: 600;
      }
    }

    &:hover {
      transition: all linear 0.2s;
      background-color: lighten($qore-cobalt, 45);
    }
  }

  &:not(:first-child) {
    .expandable-item_title {
      margin-top: 10px;
    }
  }

  &:first-child {
    .expandable-item_title {
      margin-top: 5px;
    }
  }

  .expandable-item_content {
    animation: appear 0.3s ease-out;
    padding-top: 5px;
    padding-left: 7px;
    border-left: 3px solid lighten($qore-cobalt, 35);

    @keyframes appear {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }

      10% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .expandable-label {
    margin-top: 10px;
    line-height: 26px;
  }
}
