<% if (items.length > 0) { %>
<table class="table table-fixed table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>EID</th>
      <th>Mode</th>
      <th>Started</th>
      <th>Errors</th>
      <th>Warnings</th>
    </tr>
  </thead>
  <tbody>
  <% _.each(items, function (item) { %>  
    <tr>
	    <td><span class="label"><%= item.get('status') %></span></td>
      <td><%= item.get('executionID') %></td>
      <td><%= item.get('mode') %></td>
      <td><%= item.get('starttime') %></td>
      <td><%= item.get('errors') %></td>
      <td><%= item.get('warnings') %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } else { %>
  <p>Any running</p>
<% } %>