<h4>Execution Instances</h4>
<% if (items.length > 0) { %>
<table class="table table-fixed table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>EID</th>
      <th>Mode</th>
      <th>Started</th>
      <th>Errors</th>
      <th>Warnings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% _.each(items, function (item) {   
    var item = item.toJSON(); %>
    <tr>
	    <td><span class="label"><%= item.status %></span></td>
      <td><%= item.executionID %></td>
      <td><%= item.mode %></td>
      <td><%= item.starttime %></td>
      <td><%= item.errors %></td>
      <td><%= item.warnings %></td>
      <td>
        <div class="btn_group">
          <button class="btn-mini btn-danger" data-id="<%= item.executionID %>" data-action="stop">Stop</button>
        </div>
      </td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } else { %>
  <p>Not data found</p>
<% } %>