<table class="table table-fixed table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>IID</th>
      <th>Scheduled</th>
      <th>Started</th>
      <th>Modified</th>
      <th>Errors</th>
      <th>Warnings</th>
      <th>Business</th>
    </tr>
  </thead>
  <tbody>
  <% _.each(items, function (item) { %>  
    <tr>
	    <td><span class="label"><%= item.get('workflowstatus') %></span></td>
      <td><%= item.get('workflow_instanceid') %></td>
      <td><%= item.get('scheduled') %></td>
      <td><%= item.get('started') %></td>
      <td><%= item.get('modified') %></td>
      <td><%= item.get('error_count') %></td>
      <td><%= item.get('warning_count') %></td>
      <td><%= item.get('business_error') %></td>
    </tr>
    <% }); %>
    </tbody>
</table>