<div id="workflows">
  <h2>Workflows</h2>
  <div class="container-fluid sticky"> 
      <div class="row-fluid">
          <div class="span1">
            <div class="btn-group">
  				    <button class="btn dropdown-toggle" data-toggle="dropdown">
  				      <i class="icon-box check-all"></i>
  				      <span class="caret"></span>
              </button>
    			    <ul class="dropdown-menu above">
      					<li><a href="#" class="all">All</a></li>
      					<li><a href="#" class="none">None</a></li>
      					<li><a href="#" class="invert">Invert</a></li>
    			    </ul>
            </div>
          </div>
          <div class="span4">
            <div class="input-prepend date dp" data-date="<%= date %>" data-format="yyyy-MM-dd hh:mm:ss">
              <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              <input type="text" class="span10" value="<%= date %>">
            </div>
            <div class="btn-group">
              <button class="btn"><a href="#/workflows/all" class="button">All</a></button>
              <button class="btn"><a href="#/workflows" class="button">Today</a></button>
            </div>
          </div>
          <div class="pull-right">
          <form class="form-search">
            <div class="input-append search-box">
              <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
              <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
            </div>
          </form>
          </div>
      </div>
  </div>
	<table class="table table-striped table-hover table-fixed">
		<thead class="header">
		<tr>
			<th></th>
			<th data-sort="workflowid">ID</th>
			<th data-sort="exec_count">Exec Count</th>
			<th data-sort="name" class="name sort">Name</th>
			<th data-sort="version">Version</th>
			<th data-sort="IN-PROGRESS" data-toggle="tooltip" title="In Progress">P</th>
      <th data-sort="COMPLETE" data-toggle="tooltip" title="Complete">C</th>
      <th data-sort="ERROR" title="Error">E</th>
      <th data-sort="ASYNC-WAITING" title="Async Waiting">A</th>
      <th data-sort="WAITING" title="Waiting">W</th>
      <th data-sort="INCOMPLETE" title="Incomplete">I</th>
      <th data-sort="CANCELED" title="Canceled">C</th>
      <th data-sort="RETRY" title="Retry">R</th>
      <th data-sort="READY" title="Ready">Y</th>
      <th data-sort="BLOCKED" title="Blocked">B</th>
      <th data-sort="EVENT-WAITING" title="Event Waiting">E</th>
      <th data-sort="SCHEDULED" title="Scheduled">S</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
	        <% _.each( items, function( workflow ){ 
            var workflow = workflow.toJSON();
            %>
	  			<tr class="workflow-row" id="workflow-<%= workflow.workflowid %>" data-id="<%= workflow.workflowid %>">
  					<td><i class="icon-box check"></i></td>
    				<td class="instances"><%= workflow.workflowid %></td>
    				<td class="instances"><%= workflow.exec_count %></td>
    				<td class="name" data-search="<%= workflow.name.toLowerCase() %>"><a href="#/workflows/view/<%= workflow.workflowid %>"><%= workflow.name %></a></td>
    				<td class="version"><%= workflow.version %></td>
    				<td class="in-progress" data-badge="badge-warning"><%= workflow['IN-PROGRESS'] %></td>
    				<td class="complete" data-badge="badge-success"><%= workflow.COMPLETE %></td>
    				<td class="error" data-badge="badge-importang"><%= workflow.ERROR %></td>
    				<td class="async-waiting" data-badge="badge-waiting"><%= workflow['ASYNC-WAITING'] %></td>
    				<td class="waiting" data-badge="badge-waiting"><%= workflow.WAITING %></td>
    				<td class="incomplete" data-badge="badge-info"><%= workflow.INCOMPLETE %></td>
    				<td class="canceled" data-badge="badge-canceled"><%= workflow.CANCELED %></td>
    				<td class="retry" data-badge="badge-error"><%= workflow.RETRY %></td>
    				<td class="ready" data-badge="badge-ready"><%= workflow.READY %></td>
    				<td class="blocked" data-badge=""><%= workflow.BLOCKED %></td>
    				<td class="event-waiting" data-badge="badge-waiting"><%= workflow['EVENT-WAITING'] %></td>
    				<td class="scheduled" data-badge="badge-info"><%= workflow.SCHEDULED %></td>
  					<td>
  						<div class="btn-group">
  						    <button class="btn dropdown-toggle" data-toggle="dropdown">
  						      <i class="icon-cog"></i>
  						      <span class="caret"></span>
                               </button>
  					    <ul class="dropdown-menu pull-right">
  							<li><a href="#" class="action" data-action="start" data-id="<%= workflow.workflowid %>"><i class="icon-off"></i> Start</a></li>
  							<li><a href="#" class="action" data-action="start" data-id="<%= workflow.workflowid %>"><i class="icon-off"></i> Start Custom</a></li>
  							<li><a href="#" class="action" data-action="reset" data-id="<%= workflow.workflowid %>"><i class="icon-refresh"></i> Reset</a></li>
  							<li><a href="#" class="action" data-action="stop" data-id="<%= workflow.workflowid %>"><i class="icon-remove"></i> Stop</a></li>
  					    </ul>
             </div>
  					</td>
	  			</tr>
	        <% }); %>
		</tbody>
	</table>
  </div>
  <div class="push"></div>
</div>
<div class="bottom-bar">
  <div class="row-fluid">
    <div id="instances" class="span12 page"></div>
  </div>
</div>
