<div id="workflows">
  <div id="workflows-toolbar" class="toolbar"></div>
  <div class="workflows">
  </div>
  <div class="btn-group">
      <ul class="dropdown-menu context-menu pull-right">
          <li><a href="#" class="action" data-action="start"><i class="icon-off"></i> Start</a></li>
          <li><a href="#" class="action-modal" data-action="start"><i class="icon-off"></i> Start Custom</a></li>
          <li><a href="#" class="action" data-action="reset"><i class="icon-refresh"></i> Reset</a></li>
          <li><a href="#" class="action" data-action="stop"><i class="icon-remove"></i> Stop</a></li>
      </ul>
  </div>
  <div id="modal" class="modal hide fade wider" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true"></div>
  <div class="push"></div>
</div>
