<% var orig_item = item; %>
<% item = item.toJSON() %>
<div id="heading"></div>
<ul class="nav nav-tabs">
    <li class="active"><a href="details" data-target="#details">Details</a></li>
    <li><a href="library" data-target="#library">Library</a></li>
    <li><a href="steps" data-target="#steps" class="steps">Steps</a></li>
    <li><a href="log" data-target="#log" class="log">Log</a></li>
    <% if (item.has_alerts) { %><li><a href="alerts" data-target="#alerts" class="alerts">Alerts</a></li><% }%>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="details">
    <h4>Groups</h4>
    <%= groupList(item.groups) %>
    <% if (item.options.length > 0) { %>
    <div class="row-fuild">
      <h4>Options</h4>
      <table class="table table-condensed table-stripped table-align-left">
        <thead>
          <tr>
            <th>Option</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
      <% _.each(item.options, function (option) { %>
          <tr>
            <td class="name"><%= option.name %><br /><p class="muted"><%= option.desc %></p></td>
            <td><%= option.value %></td>
          </tr>
      <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
  <div class="tab-pane" id="library">
    <%= createNestedList(item.lib) %>
  </div>
  <div class="tab-pane" id="steps">
  </div>
  <div class="tab-pane" id="log">
      <p>TODO log</p>
  </div>
  <% if (item.has_alerts) { %>
  <div class="tab-pane" id="alerts">
    <table class="table table-condensed table-striped table-align-left">
      <tbody>
        <% _.each(item.alerts, function (alert) { %> 
          <tr>
            <td><a href="/<%= getUrl('showSystem') + ["alerts",alert.alerttype.toLowerCase(),alert.id].join('/') %>"><%= alert.object %></a> <p class="muted"><%= alert.reason %></p></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
</div>