<h4>Order Instances</h4>
<div id="orders-toolbar" class="toolbar"></div>
<% if (items.length > 0) { %>
<table class="table table-fixed table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Bus. Err.</th>
      <th>WFLIID</th>
      <th>Started</th>
      <th>Completed</th>
      <th>Modified</th>
      <th>Errors</th>
      <th>Warnings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% _.each(items, function (item) {   
    var item = item.toJSON(); %>
    <tr>
	    <td><span class="label"><%= item.workflowstatus %></span></td>
      <td>
        <% if(item.business_error ) {%>
          <span class="label label-important"><i class="icon-remove icon-white"></i></span>
        <% } else {%>
          <span class="label label-success"><i class="icon-ok icon-white"></i></span>
        <% } %>
      </td>
      <td><%= item.workflow_instanceid %></td>
      <td><%= item.started %></td>
      <td><%= item.completed %></td>
      <td><%= item.modified %></td>
      <td><%= item.error_count %></td>
      <td><%= (item.warning_count) ? item.warning.count : 0 %></td>
      <td>
        <div class="btn-group">
          <% _.each(item.actions, function(action) { %>
            <button class="btn btn-mini <%= (action_css[action]) ? action_css[action] : '' %>" data-id="<%= item.workflow_instanceid %>" data-action="<%= action %>"><%= action.toUpperCase() %></button>
          <% }); %>
        </div>
      </td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } else { %>
  <p>Any</p>
<% } %>