<%= JSON.stringify(obj.item) %>
<% 
    var wfl = obj.item.toJSON(); 
    wfl.id = wfl.workflowid;
%>
<tr class="workflow-row" id="workflow-<%= wfl.id %>" data-id="<%= wfl.id %>">
	<td><i class="icon-check-empty check"></i></td>
	<td class="id"><%= wfl.workflowid %></td>
	<td class="err instances"><%= wrapBadge(wfl.exec_count, ['/workflows/view', wfl.id, 'instances'].join('/'), 'badge-success') %></td>
	<td class="name" data-search="<%= wfl.name.toLowerCase() %>"><a href="<%= getUrl('all', wfl.id) %>"><%= wfl.name %></a></td>
	<td class="version"><%= wfl.version %></td>
	<td class="err in-progress"><%= wrapBadge(wfl['IN-PROGRESS'], getUrl('in-progress', wfl.id), 'badge-warning') %></td>
	<td class="err complete"><%= wrapBadge(wfl.COMPLETE, getUrl('complete', wfl.id), 'badge-success') %></td>
	<td class="err error"><%= wrapBadge(wfl.ERROR, getUrl('error', wfl.id), 'badge-important') %></td>
	<td class="err async-waiting"><%= wrapBadge(wfl['ASYNC-WAITING'], getUrl('async-waiting', wfl.id), 'badge-waiting') %></td>
	<td class="err waiting"><%= wrapBadge(wfl.WAITING, getUrl('waiting', wfl.id), 'badge-waiting') %></td>
	<td class="err incomplete"><%= wrapBadge(wfl.INCOMPLETE, getUrl('incomplete', wfl.id), 'badge-info') %></td>
	<td class="err canceled"><%= wrapBadge(wfl.CANCELED, getUrl('canceled', wfl.id), 'badge-canceled') %></td>
	<td class="err retry"><%= wrapBadge(wfl.RETRY, getUrl('retry', wfl.id), 'badge-error') %></td>
	<td class="err ready"><%= wrapBadge(wfl.READY, getUrl('ready', wfl.id), 'badge-ready') %></td>
	<td class="err blocked"><%= wrapBadge(wfl.BLOCKED, getUrl('blocked', wfl.id), '') %></td>
	<td class="err event-waiting"><%= wrapBadge(wfl['EVENT-WAITING'], getUrl('event-waiting', wfl.id), 'badge-waiting') %></td>
	<td class="err scheduled"><%= wrapBadge(wfl.SCHEDULED, getUrl('scheduled', wfl.id), 'badge-info') %></td>
	<td>
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#" class="action" data-action="start" data-id="<%= wfl.id %>"><i class="icon-off"></i> Start</a></li>
                <li><a href="#" class="action-modal" data-action="start" data-id="<%= wfl.id %>"><i class="icon-off"></i> Start Custom</a></li>
                <li><a href="#" class="action" data-action="reset" data-id="<%= wfl.id %>"><i class="icon-refresh"></i> Reset</a></li>
                <li><a href="#" class="action" data-action="stop" data-id="<%= wfl.id %>"><i class="icon-remove"></i> Stop</a></li>
            </ul>
        </div>
	</td>
</tr>


