<div class="row-fluid">
  <h3 class="editable chart-range" data-value="1" data-targets="#chart-1,#chart-1-donut">Last 1 day</h3>
  <div id="chart-1"></div>
  <div id="chart-1-donut"></div>
</div>
<div class="row-fluid">
  <h3 class="editable chart-range" data-value="7" data-targets="#chart-2,#chart-2-donut">Last 7 days</h3>
  <div id="chart-2"></div>
  <div id="chart-2-donut"></div>
</div>
<div class="row-fluid">
  <h3 class="editable chart-range" data-value="30" data-targets="#chart-3,#chart-3-donut">Last 30 days</h3>
  <div id="chart-3"></div>
  <div id="chart-3-donut"></div>
</div>