<table class="table table-striped table-hover table-fixed table-condensed">
	<thead class="header">
    	<tr>
          <th></th>
          <th class="narrow"></th>
          <th class="narrow sort sort-asc" data-sort="exec_count">Execs</th>
          <th class="name" data-sort="name">Name</th>
          <th class="narrow" data-sort="version">Version</th>
          <th class="narrow" data-sort="autostart">Autostart</th>
          <th class="narrow" data-sort="COMPLETE" title="Complete">C</th>
          <th class="narrow" data-sort="READY" title="Ready">Y</th>
          <th class="narrow" data-sort="SCHEDULED" title="Scheduled">S</th>
          <th class="narrow" data-sort="INCOMPLETE" title="Incomplete">N</th>
          <th class="narrow" data-sort="EVENT-WAITING" title="Event Waiting">V</th>
          <th class="narrow" data-sort="ASYNC-WAITING" title="Async Waiting">A</th>
          <th class="narrow" data-sort="WAITING" title="Waiting">W</th>
          <th class="narrow" data-sort="RETRY" title="Retry">R</th>
          <th class="narrow" data-sort="ERROR" title="Error">E</th>
          <th class="narrow" data-sort="IN-PROGRESS" title="In Progress">I</th>
          <th class="narrow" data-sort="CANCELED" title="Canceled">X</th>
          <th class="narrow" data-sort="BLOCKED" title="Blocked">B</th>
          <th class="narrow" data-sort="TOTAL">Total</th>
          <% if (obj.deprecated) {%>
          <th>Visible</th>
          <% } %>
          <th></th> 
    	</tr>
  </thead>
  <tbody>
  </tbody>
</table>