<table class="table table-striped table-hover table-fixed table-condensed">
	<thead class="header">
    	<tr>
          <th></th>
          <th class="narrow" data-sort="workflowid">ID</th>
          <th class="narrow"  data-sort="exec_count">Exec Count</th>
          <th data-sort="name" class="name sort">Name</th>
          <th class="narrow" data-sort="version">Version</th>
          <th class="narrow" data-sort="autostart">Autostart</th>
          <th class="narrow" data-sort="COMPLETE" data-toggle="tooltip" title="Complete">C</th>
          <th class="narrow" data-sort="READY" title="Ready" data-toggle="tooltip">Y</th>
          <th class="narrow" data-sort="SCHEDULED" title="Scheduled" data-toggle="tooltip">S</th>
          <th class="narrow" data-sort="INCOMPLETE" title="Incomplete" data-toggle="tooltip">N</th>
          <th class="narrow" data-sort="EVENT-WAITING" title="Event Waiting" data-toggle="tooltip">V</th>
          <th class="narrow" data-sort="ASYNC-WAITING" title="Async Waiting" data-toggle="tooltip">A</th>
          <th class="narrow" data-sort="WAITING" title="Waiting" data-toggle="tooltip">W</th>
          <th class="narrow" data-sort="RETRY" title="Retry" data-toggle="tooltip">R</th>
          <th class="narrow" data-sort="ERROR" title="Error" data-toggle="tooltip">E</th>
          <th class="narrow" data-sort="IN-PROGRESS" data-toggle="tooltip" title="In Progress">I</th>
          <th class="narrow" data-sort="CANCELED" title="Canceled" data-toggle="tooltip">X</th>
          <th class="narrow" data-sort="BLOCKED" title="Blocked" data-toggle="tooltip">B</th>
          <th class="narrow" data-sort="TOTAL">Total</th>
          <% if (obj.deprecated) {%>
          <th>Visible</th>
          <% } %>
          <th></th> 
    	</tr>
	</thead>
	<tbody>
    </tbody>
</table>