<ul class="nav nav-tabs">
  <li class="active"><a href="?performance" data-target="#performance">Performance</a></li>
  <li><a href="?http" data-target="#alerts">Alerts</a></li>
  <li><a href="?options" data-target="#options">Options</a></li>
  <li><a href="?datasources" data-target="#datasources">Datasources</a></li>
  <li><a href="?prop" data-target="#prop">Properties</a></li>
  <li><a href="?http" data-target="#http">Http Services</a></li>
  <li><a href="?info" data-target="#info">Info</a></li>
  <li><a href="?log" data-target="#log">Log</a></li>
  <li><a href="?http-log" data-target="#http-log">HTTP Log</a></li>
  <li><a href="?audit-log" data-target="#audit-log">Audit Log</a></li>
  <li><a href="?alert-log" data-target="#alert-log">Alert Log</a></li>
  <li><a href="?mon-log" data-target="#mon-log">Monitor Log</a></li>
</ul>

<% var item = obj.toJSON(); %>

<div class="tab-content">
  <div id="performance" class="tab-pane active">
  </div>
  <div id="info" class="tab-pane">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="description">Value</th>
        </tr>
      </thead>
      <tbody>
    <% _.each(item, function (item, key) { %>
      <tr>
        <td class="name"><%= key %></td>
        <% if (key != 'modules') { %>
        <td class="description"><%= item %></td>
        <% } else { %>
        <td class="description">
            <dl>
          <% _.each(item, function (it, key) { %>
              <dt><%= key %> <%= it.version %></dt>
              <dd><small>Desc: <%= it.desc %><br />
                Author: <%= it.author %> (<%= it.url %>)</small></dd>
          <% }) %>
        </td>          
        <% } %>
      </tr>
    <% }) %>
      </tbody>
    </table>
  </div>
  <div id="options" class="tab-pane">
  </div>
  <div id="alerts" class="tab-pane">
  </div>
  <div id="datasources" class="tab-pane">
  </div>
  <div id="prop" class="tab-pane">
  </div>
  <div id="http" class="tab-pane">
  </div>
  <div id="log" class="tab-pane">
  </div>
  <div id="http-log" class="tab-pane">
  </div>
  <div id="audit-log" class="tab-pane">
  </div>
  <div id="alert-log" class="tab-pane">
  </div>
  <div id="mon-log" class="tab-pane">
  </div>
</div>