<div id="logs-list">
    <div class="tabbable">
      <ul class="nav nav-pills">
          <li class="active"><a href="?logs/main" data-toggle="tab" data-target="#log-main">Main</a></li>
          <li><a href="?logs/http" data-toggle="tab" data-target="#log-http">Http</a></li>
          <li><a href="?logs/audit" data-toggle="tab" data-target="#log-audit">Audit</a></li>
          <li><a href="?logs/alert" data-toggle="tab" data-target="#log-alert">Alert</a></li>
          <li><a href="?logs/monitor" data-toggle="tab" data-target="#log-monitor">Monitor</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="log-main">
          </div>
          <div class="tab-pane active" id="log-http">
          </div>
          <div class="tab-pane active" id="log-audit">
          </div>
          <div class="tab-pane active" id="log-alert">
          </div>
          <div class="tab-pane active" id="log-monitor">
          </div>
      </div>
    </div>
</div>