
<div class="span6">
  <div class="system-health">
<% if (obj.local) { %>
    <span class="label label-<%= statusToCSS(obj.local.health) %>"><%= obj.local.health %></span>
    Ongoing <span class="badge badge-important"><%= obj.local.ongoing %></span> 
    Transient <span class="badge badge-warning"><%= obj.local.transient %></span>
<% } %>
  </div>
</div>
<div class="span6">
  <div class="remote-health">
  <% _.each(obj.remote, function (remote) { %>
    <a href="<%= remote.url %>" class="label label-<%= statusToCSS(remote.health) %>" target="_blank" data-toggle="tooltip" data-placement="bottom" title="<%= escapeHtml(remote.error) %>"><%= remote.name %></a>
  <% }) %>
  </div>
</div>
