<% if (obj.item) { %>
<div class="span12">
  <h3><%= item.role %></h3>
  <p class="muted"><%= item.desc %></p>
</div>
<% } %>
<% if (obj.tabs) { %>
<ul class="nav <%= obj.tab_css ? obj.tab_css : 'nav-tabs' %>">
  <% _.each(obj.tabs(), function (tab, idx) { %>
  <li<%= (idx == 0) ? ' class="active"' : '' %>><a href="<%= tab.slug() %>" data-target="#<%= tab.id() %>"><%= tab.name %></a></li>
  <% }) %>
</ul>

<div class="tab-content">
  <% _.each(obj.tabs(), function (tab, idx) { %>
  <div id="<%= tab.id() %>" class="tab-pane<%= (idx == 0) ? ' active' : '' %>"><i class="icon-spin icon-refresh"></i> Loading</div>
  <% }) %>
</div>
<% } %>