<% var job = item.toJSON(); %>
<div id="split-panes">
    <div class="pane">
        <div id="job-detail">
          <h3><%= job.name %></h3>
          <p><%= job.description %></p>
  
          <ul class="nav <%= obj.tab_css ? obj.tab_css : 'nav-tabs' %>">
            <% _.each(obj.tabs(), function (tab, idx) { %>
            <li<%= (idx == 0) ? ' class="active"' : '' %>><a href="<%= tab.name %>" data-target="#<%= tab.name %>"><%= tab.name %></a></li>
            <% }) %>
          </ul>

          <div class="tab-content">
            <% _.each(obj.tabs(), function (tab, idx) { %>  
            <div id="<%= tab.name %>" class="tab-pane<%= (idx == 0) ? ' active' : '' %>"><i class="icon-spin icon-refresh"></i> Loading</div>
            <% }) %>
          </div>
        </div>
    </div>
    <div class="handler"><i class="icon-reorder"></i></div>
    <div id='bottom-bar' class="pane">
    </div>
</div>