<div id="jobs">
	<h2>Jobs Overview</h2>
	<table class="table table-striped">
		<thead>
		<tr>
			<th data-sort="jobid">ID</th>
			<th class="name" data-sort="name">Name</th>
			<th data-sort="version">Version</th>
      <th data-sort="active">Active</th>
      <th data-sort="last_executed">Last</th>
      <th data-sort="next">Next</th>
      <th data-sort="COMPLETE">Complete</th>
      <th data-sort="ERROR">Error</th>
      <th data-sort="IN-PROGRESS">In-progress</th>
      <th data-sort="CRASH">Crash</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
	        <% _.each( items, function( item ){ %>
	  			<tr class="job-row" id="job-<%= item.get('jobid') %>">
	  				<td class="id"><%= item.get('jobid') %></td>
	  				<td class="name" ><a href="#/job/<%= item.get('jobid') %>"><%= item.get('name') %></a></td>
	  				<td class="version"><%= item.get('version') %></td>
	  				<td class="status">
              <div class="btn-group">
  						<% if (item.get('active')===true){ %>
                  <button class="btn btn-mini active btn-success" data-id="<%= item.get('jobid') %>" data-action="active">On</button>
                  <button class="btn btn-mini" data-id="<%= item.get('jobid') %>" data-action="active">Off</button>
  						<% } else { %>
                <button class="btn btn-mini" data-id="<%= item.get('jobid') %>" data-action="active">On</button>
                <button class="btn btn-mini active btn-danger" data-id="<%= item.get('jobid') %>" data-action="active">Off</button>
  						<% } %>
              </div>
            </td>
	  				<td class="last"><%=  item.get('last_executed') %></td>
	  				<td class="next"><%= item.get('next') %></td>
	  				<td class="complete"><%= item.get('COMPLETE') ? '<span class="badge badge-success">'+item.get('COMPLETE')+'</span>' : 0 %></td>
	  				<td class="error"><%= item.get('ERROR') ? '<span class="badge badge-important">'+item.get('ERROR')+'</span>' : 0 %></td>
	  				<td class="in-progress"><%= item.get('IN-PROGRESS') ? item.get('IN-PROGRESS') : 0 %></td>
	  				<td class="crash"><%= item.get('CRASH') ? item.get('CRASH') : 0 %></td>
					<td>
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown">
							      <i class="icon-cog"></i>
								  <span class="caret"></span>
							</button>
						    <ul class="dropdown-menu pull-right">
								<li><a href="#" class="start" data-id="<%= item.get('jobid') %>"><i class="icon-play"></i> Run</a></li>
								<li><a href="#" class="reset" data-id="<%= item.get('jobid') %>"><i class="icon-time"></i> Reschedule</a></li>
								<li><a href="#" class="stop" data-id="<%= item.get('jobid') %>"><i class="icon-refresh"></i> Reset</a></li>
								<li><a href="#" class="stop" data-id="<%= item.get('jobid') %>"><i class="icon-tag"></i> Set expiration</a></li>
						    </ul>
						</div>
					</td>
	  			</tr>
	        <% }); %>
		</tbody>
	</table>
</div>
