<table class="table table-striped table-condensed">
	<thead class="header">
    	<tr>
        <th></th>
        <th data-sort="jobid">ID</th>
        <th class="name" data-sort="name">Name</th>
        <th data-sort="version">Version</th>
        <th data-sort="active">Active</th>
        <th data-sort="last_executed">Last</th>
        <th data-sort="next">Next</th>
        <th data-sort="expiry_date">Expiry Date</th>
        <th data-sort="COMPLETE">Complete</th>
        <th data-sort="ERROR">Error</th>
        <th data-sort="IN-PROGRESS">In-progress</th>
        <th data-sort="CRASH">Crash</th>
    		<th></th>
    	</tr>
	</thead>
	<tbody></tbody>
</table>