<div class="row-fluid relative">
    <h3 class="pull-left"><a href="<%= getUrl('showWorkflows', { date: obj.date }) %>" class="subtle"><i class="icon-chevron-left"></i></a> <span class="selectable"><%= item.name %></span> <small><%= item.version %></small></h3>
  <div class="<%= (obj.pull_right) ? 'pull-right align-middle' : '' %>" id="controls">
    <%= createControls(_item) %>
    <div class="autostart"></div>
  </div>
</div>
<% if (obj.statusList) { %>
<%= statusList(item) %>
<% } %>
<% if (obj.show_groups) { %>
<div class='row-fluid'>
    <%= groupList(item.groups) %>
</div>
<% } %>