.content-by-type {
  display: inline-block;
  line-height: 1;

  &.string {
    word-break: break-all;
    color: lighten($text-color, 10);
  }

  &.number {
    color: $qore-info;
  }

  &.null {
    color: lighten($text-color, 20);
  }
}
