<table class="table table-fixed table-striped table-condensed">
	<thead class="header">
    	<tr>
          <th class="check"></th>
          <th data-sort="has_alerts"><i class='icon-warning-sign'></i></th>
          <th class="actions">Actions</th>
          <th class="name" data-sort="name">Name</th>
          <th data-sort="version">Version</th>
          <th data-sort="last_executed">Last</th>
          <th data-sort="next">Next</th>
          <th data-sort="expiry_date">Expiry Date</th>
          <th data-sort="COMPLETE">Complete</th>
          <th data-sort="ERROR">Error</th>
          <th data-sort="IN-PROGRESS">In-progress</th>
          <th data-sort="CRASH">Crash</th>
    	</tr>
	</thead>
	<tbody></tbody>
</table>