/**
 * Topbar is a modified Bootstrap navbar.
 *
 * 1. Accomadates for taller navbar brand element.
 * 2. Fixes the rightmost navbar button position.
 */

.topbar {
  z-index: 19;
}

.notification-wrapper {
  position: relative;
}

.notification-count {
  position: absolute;
  font-size: 9px;
  background-color: red;
  border-radius: 99px;
  width: 12px;
  height: 12px;
  text-align: center;
  font-weight: 600;
  line-height: 12px;
  right: 15px;
  top: 3px;
  z-index: 15;
}

.quick-search-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.qore-small-logo {
  padding: 10px 0px 10px 5px;
  vertical-align: middle;
  height: 44px;
  display: inline-block !important;
}

.topbar-instance-on,
.topbar-instance {
  vertical-align: bottom;
  display: inline-block;
  line-height: 30px;
  padding-left: 6px;
  font-family: 'NeoLight';
  padding-top: 11px;
  font-size: 18px;
  flex: 1 0 auto;
}

.topbar-instance-on {
  color: #aaa;
}
