<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="modalHeader">Ping <%= obj.response.name %></h3>
</div>
<div class="modal-body">
  <table class="table table-align-left">
    <tbody>
      <tr>
        <th>URL</th>
        <td><%= obj.response.url %></td>
      </tr>
      <% if (obj.response.time) { %>
      <tr>
        <th>Response Time</th>
        <td><%= obj.response.time %></td>
      </tr>
      <% } %>
      <tr>
        <th>Status</th>
        <td><%= statusIcon(obj.response.ok) %></td>
      </tr>
      <% if (!obj.response.ok) { %>
      <tr>
        <th>Error</th>
        <td><%= obj.response.info %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
