div.configItemsEditor {
  border: 1px solid #d7d7d7;
  border-radius: 5px;

  &.editorDisabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;

    .bp3-icon {
      margin-right: 5px;
    }
  }

  &.editorOverride {
    border-color: $qore-green;

    .header {
      background-color: lighten($qore-green, 45);
      border-bottom-color: $qore-green;
    }
  }

  &:not(.editorOverride):hover {
    cursor: pointer;
    border-color: darken(#d7d7d7, 15);
  }

  .body {
    width: 100%;
    padding: 10px;
  }
}
