/**
 * Workflow detail library tab.
 *
 * It displays two columns: a list of functions ("fns") and a source
 * code of selected function ("src").
 *
 * The list of functions is a well with nav pills. Navigation is
 * three-level. The first and second level are function
 * categories. The third level is functions themselves. Visually, this
 * level are not displayed as it is clear from context - there is no
 * indentation.
 *
 * The source code handled by Prism.
 *
 * Columns occupy available height. But their content is absolutely
 * positioned to provide independent scrolling.
 */
#library {
  overflow: hidden;

  > .wflw-lib {
    height: 100%;

    & > .wflw-lib__fns,
    & > .wflw-lib__src {
      height: 100%;
    }

    & > .wflw-lib__fns > .well,
    & > .wflw-lib__src > .tab-content > .tab-pane > pre {
      position: absolute;
      top: 0;
      right: $padding-large-horizontal;
      bottom: 0;
      left: $padding-large-horizontal;

      width: auto;
    }
    > .wflw-lib__fns > .well {
      right: floor($padding-large-horizontal / 2);
      overflow-y: auto;
    }
    > .wflw-lib__src > .tab-content > .tab-pane > pre {
      left: ceil($padding-large-horizontal / 2);
      overflow: auto;
    }

    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;

    > .wflw-lib__fns > .well {
      margin-bottom: 0;
      padding: 0;
    }
    > .wflw-lib__src > .tab-content > .tab-pane > pre {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .nav {
    word-wrap: break-word;

    & > li.disabled > a {
      cursor: inherit;
    }

    & > li > a > h5,
    & > li > a > h6 {
      text-transform: uppercase;
    }

    & > li > a > h5 {
      font-size: $font-size-base;
      margin-top: 0;
      margin-bottom: 0;
    }
    & > li > a > h6 {
      font-size: $font-size-small;
      margin-top: -3px;
      margin-bottom: -6px;
    }
    & > li > a > span {
      display: block;
      margin-top: -6px;
      margin-bottom: -6px;
    }
  }
}


.wflw-lib {
  /**
   * Line wrap toggle button hovers above Prism-formatted code.
   *
   * The button is a sibling to Prism-formatted code whose parent is a
   * containing block (Bootstrap grid column).
   */
  &__wrap-toggle {
    position: absolute;
    top: 2px;
    right: $grid-gutter-width / 2 + 3px;
    z-index: $zindex-pane + 1;
  }
}
