<td><i class="icon icon-<%= (item.status == 'locked') ? 'lock' : 'unlock'  %>"></i></td>
<td class="name nowrap"><%= item.name %></td>
<td class="description"><div><%- item.desc %></div></td>
<td><%= item.default %></td>
<td><%= item.expects %></td>
<td><%= item.interval %></td>
<td><%= statusIcon(item.job) %></td>
<td><%= statusIcon(item.service) %></td>
<td><%= statusIcon(item.workflow) %></td>
<% if (item.status != 'locked') { %>
<td class="text-left editable" data-editable="edit" data-value="<%= item.value %>" data-type="<%= item.expects %>" data-name="<%= item.name %>"><%= item.value %></td>
<% } else { %>
<td class="text-left"><%= item.value %></td>
<% } %>