<td class="timestamp"><%= item.time %></td>
<td class="severity"><strong><%= item.compositeseveritystr %></strong></td>
<td class="event"><%= item.eventstr %></td>
<td class="class info"><%= item.info ? item.info.cls : '' %></td>
<td class="id info"><%= item.info ? item.info.id : '' %></td>
<td class="instanceid info"><%= item.info ? item.info.instanceid : '' %></td>
<td class="info name"><%= item.info ? item.info.name : '' %></td>
<td class="info status"><%= item.info ? item.info.status : '' %></td>
<td class="info error"><%= item.info ? item.info.desc : '' %></td>