/**
 * Pane detail library tab.
 *
 * It displays two columns: a list of functions ("fns") and a source
 * code of selected function ("src").
 *
 * The list of functions is a well with nav pills. Navigation is
 * three-level. The first and second level are function
 * categories. The third level is functions themselves. Visually, this
 * level are not displayed as it is clear from context - there is no
 * indentation.
 *
 * The source code handled by Prism. However, the font size is
 * overriden to be smaller to allow more code on the screen.
 *
 * Columns occupy available height. But their content is absolutely
 * positioned to provide independent scrolling.
 */
#library {
  overflow: hidden;

  .nav {
    word-wrap: break-word;

    > li {
      > a {
        cursor: pointer;
        padding: $padding-large-vertical $padding-small-horizontal;

        > h5,
        > h6 {
          text-transform: uppercase;
        }

        > h5 {
          font-size: $font-size-base;
          margin-top: 0;
          margin-bottom: 0;
        }
        > h6 {
          font-size: $font-size-small;
          margin-top: -3px;
          margin-bottom: -6px;
        }
        > span {
          font-size: $font-size-small;
          display: block;
          margin-top: -6px;
          margin-bottom: -6px;
        }
      }

      &.disabled > a {
        cursor: inherit;
      }
    }
  }
}


.pane-lib {
  height: 100%;

  &__fns,
  &__src {
    height: 100%;
  }

  &__fns > .well,
  &__src > .tab-content > .tab-pane > .source-code {
    position: absolute;
    top: 0;
    right: $padding-large-horizontal;
    bottom: 0;
    left: $padding-large-horizontal;

    width: auto;
  }
  &__fns > .well {
    right: floor($padding-large-horizontal / 2);
    overflow-y: auto;
  }
  &__src > .tab-content > .tab-pane > .source-code {
    left: ceil($padding-large-horizontal / 2);
    overflow: auto;
  }

  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;

  &__fns > .well {
    margin-bottom: 0;
    padding: 0;
  }
  &__src > .tab-content > .tab-pane > .source-code > .source-code__code {
    margin-top: 0;
    margin-bottom: 0;
  }
}
