/**
 * Pane detail log tab.
 *
 * 1. Disabled scrolling in tab pane because only the log buffer is
 *    expected to overflow.
 * 2. Controls and log buffer are organized in flexbox with column
 *    flow.
 * 3. The log buffer stretched to available height.
 * 4. Buffer's inner element is absolutely positioned to allow
 *    scrolling independent from page scroll. To prevent tucking to
 *    the bottom there is some padding.
 * 5. Makes sure top controls are not tucked to tab pane border.
 * 6. The log buffer uses Prism to style it, but the default font size
 *    is too big.
 * 7. Prevent log lines from overflowing and wrap them.
 * 8. Empty lines are visible.
 * 9. Custom word highlight which is not part of Prism.
 */

.log-area {
  > pre { /* [6] */
    font-size: $font-size-extra-small;

    > code { /* [7] */
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;

      > .token { /* [8] */
        min-height: 1.5 * $font-size-extra-small;
      }
    }
  }

  .highlight { /* [9] */
    background: slategray;
  }
}
