.diagram {
  width: 100%;

  .pt-tag {
    position: unset !important;
    white-space: nowrap;
  }

  &__path {
    stroke: $qore-cobalt;
    fill: none;
  }

  &__box {
    &:not(.diagram__box--start) .link {
      font-size: 10px;
      cursor: pointer;
      text-transform: uppercase;
      fill: #337ab7;
      text-decoration: underline;
    }

    &.clickable {
      cursor: pointer;
    }

    > rect,
    > ellipse {
      fill: #fff;
      stroke: $qore-cobalt;
      stroke-width: 2;
    }

    > text {
      font-size: 14px;
      font-weight: normal;

      text-anchor: middle;
      alignment-baseline: middle;
    }
  }

  &__mask {
    fill: #fff;
    stroke: #000;
  }
}

.step-info {
  /**
   * Adds some vertical space around function navigation which would
   * be otherwise tucked to the step navigation above and function
   * details below.
   */
  &__func > .nav {
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
  }
}
