.alerts-table {
  position: relative;

  .alerts-table-reason {
    white-space: pre-wrap;
    font-family: monospace;
    word-break: break-word;
    padding: 10px 0;

    &.isExpandable {
      height: 100px;
      overflow: hidden;
      border-bottom: 1px dashed $qore-cobalt;

      &.expanded {
        height: auto;
      }
    }
  }

  .alerts-table-expander {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -12px;
  }
}
