<div class="services-toolbar btn-toolbar sticky toolbar">
  <div class="btn-group">
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <i class="icon-check-empty check-all checker"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu above">
		<li><a href="#" class="check-all">All</a></li>
		<li><a href="#" class="uncheck-all">None</a></li>
		<li><a href="#" class="invert">Invert</a></li>
    </ul>
  </div>
  <div class="btn-group hide toolbar-actions">
    <button class="btn btn-small" data-id="selected" data-action="enable" data-method="put"><i class="icon-off"></i> Enable</button>
    <button class="btn btn-small" data-id="selected" data-action="disable" data-method="put"><i class="icon-ban-circle"></i> Disable</button>
    <button class="btn btn-small" data-id="selected" data-action="load" data-method="put"><i class="icon-off"></i> Load</button>
    <button class="btn btn-small" data-id="selected" data-action="unload" data-method="put"><i class="icon-remove-circle"></i> Unload</button>
    <button class="btn btn-small" data-id="selected" data-action="reset" data-method="put"><i class="icon-refresh"></i> Reset</button>
  </div>
  <div class="pull-right">
    <form class="form-search">
      <div class="input-append search-box">
        <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
  </div>
</div>