/**
* Styles the chart wrapper
*/
.chart-wrapper {
  display: inline-block;
  position: relative;
  width: auto;

  &:not(:first-of-type) {
    .chart-box {
      margin-left: 30px;
    }
  }
}

/**
* Styles the first parent wrapper of the chart
* Needs to have overflow:hidden otherwise the
* chart will spread over the whole space
*/
.chart-box {
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/**
* Generates the legend for the chart
*/
ul.chart-legend {
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}

ul.chart-legend,
ul.chart-legend li {
  list-style: none;
  text-indent: 0;

  .color-box {
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
    vertical-align: text-bottom;
  }
}
