<div class="btn-toolbar sticky toolbar"> 
    <div class="btn-group">
	    <button class="btn dropdown-toggle" data-toggle="dropdown">
	      <i class="icon-check-empty check-all"></i>
	      <span class="caret"></span>
      </button>
	    <ul class="dropdown-menu above">
				<li><a href="#" class="all">All</a></li>
				<li><a href="#" class="none">None</a></li>
				<li><a href="#" class="invert">Invert</a></li>
	    </ul>
    </div>
    <div class="input-prepend date dp" data-date="<%= date %>" data-format="yyyy-mm-dd hh:ii:ss">
      <span class="add-on"><i class="icon-th"></i></span>
      <input type="text" class="span10" value="<%= date %>">
    </div>
    <div class="btn-group">
      <button class="btn" data-action="open" data-url="/workflows/all">All</button>
      <button class="btn" data-action="open" data-url="/workflows">24 h</button>
    </div>
    <div class="pull-right">
    <form class="form-search">
      <div class="input-append search-box">
        <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
    </div>
</div>