/**
* Wrapper for the tree view in the order detail data tab
*/
.tree-wrapper {
  span {
    font-weight: bold;

    &.data-control {
      display: inline-block;
      padding-left: 20px;
      margin-left: -20px;
      cursor: pointer;
    }

    &.data-control:before {
      font-family: FontAwesome;
      display: table;
      color: red;
      left: 10px;
      position: absolute;
      top: 7px;
    }

    &.data-control.expand:before {
      content: "\f196";
    }

    &.data-control.clps:before {
      content: "\f147";
    }
  }

  div {
    padding: 5px 0 5px 30px;
    position: relative;
    word-break: break-all;
  }

  div:not(.tree-top) {
    border-left: 1px dotted red;

    &.last:last-child {
      border-left: 0;
    }

    span:not(.data-control):before {
      content: '';
      display: table;
      position: absolute;
      width: 25px;
      height: 1px;
      border-top: 1px dotted red;
      top: 15px;
      left: 0;
    }

    &:last-child > span:not(.data-control):after {
      content: '';
      display: table;
      position: absolute;
      width: 1px;
      height: 15px;
      left: 0;
      top: 0;
      border-left: 1px dotted red;
    }
  }
}

.button--copy {
  position: absolute;
  right: 25px;
  top: 10px;
}
