/**
* Wrapper for the tree view in the order detail data tab
*/

$color: #a9a9a9;

.tree-wrapper {
  span {
    font-weight: bold;

    &.data-control {
      display: inline-block;
      padding-left: 20px;
      margin-left: -20px;
      cursor: pointer;
    }

    &.data-control:before {
      font-family: FontAwesome;
      display: table;
      color: $color;
      left: 0;
      position: absolute;
      top: 7px;
    }

    &.data-control.expand:before {
      content: '\f196';
    }

    &.data-control.clps:before {
      content: '\f147';
    }
  }

  div {
    padding: 5px 0 5px 20px;
    position: relative;
    word-break: break-all;

    &.nopad {
      padding-left: 0;
    }
  }

  div:not(.tree-top) {
    &.last {
      margin-left: 6px;
      border-left: 1px dotted $color;
    }

    &.last:last-child {
      border-left: 0;
    }

    span:not(.data-control):before {
      content: '';
      display: table;
      position: absolute;
      width: 15px;
      height: 1px;
      border-top: 1px dotted $color;
      top: 15px;
      left: 0;
    }

    &:last-child > span:not(.data-control):after {
      content: '';
      display: table;
      position: absolute;
      width: 1px;
      height: 15px;
      left: 0;
      top: 0;
      border-left: 1px dotted $color;
    }
  }
}
