<% var domains = obj.data %>
<% if (domains) { %>
<table class="table">
    <% _.each(obj.data, function (domain, key) { %>
    <thead>
        <tr>
            <td colspan=2 class="name"><%= key %></td>
        </tr>
    </thead>
    <tbody>
        <% _.each(domain, function (d) { %>
        <tr>
            <td class="name"><a href="<%= d.url %>"><%= d.title %></td>
            <td class="text-left"><%= d.service %> <small>v<%= d.version %>, ID#<%= d.serviceid %></small></td>
        </tr>            
        <% }) %>
    </tbody>
    <% })%>
</table>
<% } else { %>
  <p>No Http Services available</p>
<% } %>