<div class="btn-toolbar sticky toolbar">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-check-empty check-all"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu above">
			<li><a href="#" class="all">All</a></li>
			<li><a href="#" class="none">None</a></li>
			<li><a href="#" class="invert">Invert</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn disabled" data-id="selected" data-action="load"><i class="icon-off"></i> Load</button>
    <button class="btn disabled" data-id="selected" data-action="unload"><i class="icon-remove-circle"></i> Unload</button>
    <button class="btn disabled" data-id="selected" data-action="reset"><i class="icon-refresh"></i> Reset</button>
  </div>
  <div class="pull-right">
    <form class="form-search">
      <div class="input-append search-box">
        <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
  </div>
</div>