.notifications-list {
  width: 400px;

  .notifications-group {
    height: 50%;
    overflow: auto;
  }

  .full-grp {
    height: 100% !important;
  }

  .transient {
    box-shadow: -2px 0 16px 0 darken(#a9a9a9, 12);
  }

  .notification {
    &:nth-child(even) {
      background-color: #eee;
    }

    padding: 5px;

    p,
    h5 {
      margin: 0;
    }
  }

  .notifications-header {
    border-bottom: 1px solid darken(rgba(255, 255, 255, 1), 10);
    padding: 12px 5px;
    margin: 0;
  }
}
