.notification-list{
  position: fixed;
  right: 0;
  top: 51px;

  width: 300px;
  height: 100%;
  background-color: darken(rgba(255, 255, 255, 1), 5);
  border-left: 1px solid darken(rgba(255, 255, 255, 1), 10);
  box-shadow: 0px -2px 16px 0 darken(#a9a9a9, 12);

  overflow: hidden;
  overflow-y: auto;

  h4 {
    text-align: left;
  }

  .notifications-group {
    height: 47.5%;
    overflow: auto;
  }

  .full-grp {
    height: 95% !important;
  }

  .transient {
    box-shadow: -2px 0 16px 0 darken(#a9a9a9, 12);
  }

  .notification {
    border-bottom: 1px solid darken(rgba(255, 255, 255, 1), 10);
    border-top: 1px solid darken(rgba(255, 255, 255, 1), 2);
    font-size: 12px;
    padding: 5px;

    p, h5 {
      margin: 0
    }
  }

  .notifications-header {
    border-bottom: 1px solid darken(rgba(255, 255, 255, 1), 10);
    padding: 12px 5px;
    margin: 0;
  }
}

.notification-list-enter {
  right: -300px;

  &.notification-list-enter-active {
    right: 0;
    transition: right 500ms ease-in;
  }
}

.notification-list-leave {
  right: 0;

  &.notification-list-leave-active {
    right: -300px;
    transition: right 500ms ease-in;
  }
}
