<span class="btn-group btn-mini">
<% if (status){ %>
    <button class="btn active btn-mini btn-success" data-action="<%= data.action %>" data-id="<%= data.id %>" data-option="<%= data.option %>" data-value="<%= data.on %>">On</button>
    <button class="btn btn-mini" data-id="<%= data.id %>" data-action="<%= data.action %>" data-option="<%= data.option %>" data-value="<%= data.off %>">Off</button>
<% } else { %>
    <button class="btn btn-mini" data-id="<%= data.id %>" data-action="<%= data.action %>" data-option="<%= data.option %>" data-value="<%= data.on %>">On</button>
    <button class="btn btn-mini active btn-danger" data-id="<%= data.id %>" data-action="<%= data.action %>" data-option="<%= data.option %>" data-value="<%= data.off %>">Off</button>
<% } %>
</span>