<table class="table table-striped table-condensed">
    <thead>
        <th class="text-left">Name</th>
        <th><i class="icon-lock" title="Lock" data-toggle="tooltip"></i></th>
        <th><i class="icon-cog" title="Internal" data-toggle="tooltip"></i></th>
        <th><i class="icon-pencil" title="Write" data-toggle="tooltip"></i></th>
        <th></th>
    </thead>
    <tbody>
    <% _.each(item.methods, function (method) { %>
        <tr>
            <td class="text-left">
              <p><strong><%= method.name %></strong><br />
              <small class="muted"><%= method.description %></small></p>
            </td>
            <td><%= statusIcon(method.locked) %></td>
            <td><%= statusIcon(method.internal) %></td>
            <td><%= statusIcon(method.write) %></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-mini btn-success" data-methodname="<%= method.name %>" data-serviceid="<%= item.id %>" data-id="<%= method.service_methodid %>" data-action="execute" title="Execute" data-toggle="tooltip"><i class="icon-play"></i></button> 
                <button class="btn btn-mini btn-inverse" title="Source" data-action="showSource" data-methodname="<%= method.name %>" data-toggle="tooltip"><i class="icon-code"></i></button>
              </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<div id="source-modal"></div>