@import '../../node_modules/prismjs/themes/prism-okaidia';
@import '../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers';


@import '../js/components/autostart/style';
@import '../js/components/groups/style';
@import '../js/components/modal/style';
@import '../js/components/resize/style';
@import '../js/components/table/style';


pre {
  white-space: pre-wrap;
}


.form-search .form-group {
  margin-top: 5px;

  .form-control.input-sm {
    border-radius: 15px 0 0 15px;
  }
  .btn.btn-sm {
    border-left: 0;
    border-radius: 0 15px 15px 0;
  }
}


.form-horizontal .form-group .checkbox input[type="checkbox"] {
  margin-left: 0;
}


.table-condensed {
  .btn-controls .btn-xs {
    margin-top: 4px;
    padding: 1px 4px 0;
  }

  .autostart .btn-controls .btn-xs {
    padding-left: 3px;
    padding-right: 3px;

    &.autostart-change {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}


#library {
  > .row {
    margin-top: 15px;

    > .col-sm-3 > .well {
      padding: 0;
    }

    > .col-sm-9 {
      padding-left: 0;
    }
  }

  .nav {
    word-wrap: break-word;

    & > li.disabled > a {
      cursor: inherit;
    }

    & > li > a > h5,
    & > li > a > h6 {
      text-transform: uppercase;
    }

    & > li > a > h5 {
      font-size: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    & > li > a > h6 {
      font-size: 90%;
      margin-top: -3px;
      margin-bottom: -6px;
    }
    & > li > a > span {
      display: block;
      margin-top: -6px;
      margin-bottom: -6px;
    }
  }

  pre[class*="language-"] {
    margin-top: 0;
  }
}
