a,
a:hover,
a:focus,
a:active,
a:visited {
  & {
    text-decoration: none;
  }

  * {
    text-decoration: none !important;
  }
}

$font-size-extra-small: 11px;
$padding-xs-horizontal: 3px;
$text-muted: #a9a9a9;

$qore-green: #57801a;
$qore-purple: #81358a;
$qore-warning: #d99e0b;
$qore-danger: #d13913;
$qore-info: #2965cc;
$qore-gray: #8a9ba8;
$qore-blue: #277fba;
$qore-cobalt: #5c7080;
$qore-dark: #383c44;

// Overwrite Blueprint colors
$green1: darken($qore-green, 20);
$green2: darken($qore-green, 10);
$green3: $qore-green;
$green4: lighten($qore-green, 10);
$green5: lighten($qore-green, 20);

$blue1: darken($qore-cobalt, 20);
$blue2: darken($qore-cobalt, 10);
$blue3: $qore-cobalt;
$blue4: lighten($qore-cobalt, 10);
$blue5: lighten($qore-cobalt, 20);

// @import '../../node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import '../../node_modules/prismjs/themes/prism-okaidia';
@import '../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css';

$status-automatic: $qore-purple;
$status-complete: $qore-green;
$status-ready: $qore-blue;
$status-scheduled: lighten($qore-blue, 5);
$status-waiting: $qore-warning;
$status-in-progress: darken($qore-blue, 5);
$status-retry: lighten($qore-warning, 10);
$status-incomplete: lighten($qore-warning, 14);
$status-canceled: $qore-gray;
$status-error: $qore-danger;
$status-blocked: lighten($qore-danger, 10);

$bgcolor: #eee;
$text-color: #333;

@import './tables';

@font-face {
  font-family: 'NeoLight';
  src: url('../fonts/NeoLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto.ttf') format('truetype');
}

@import '../js/components/layout/style';
@import '../js/components/badge/style';
@import '../js/components/controls/style';
@import '../js/components/footer/style';
@import '../js/components/groups/style';
@import '../js/components/info_table/style';
@import '../js/components/modal/style';
@import '../js/components/navigation/style';
@import '../js/components/pane/style';
@import '../js/components/resize/style';
@import '../js/components/source_code/style';
@import '../js/components/topbar/style';
@import '../js/components/toolbar/style';
@import '../js/components/datepicker/style';
@import '../js/components/chart/style';
@import '../js/components/log/style';
@import '../js/components/tree/style';
@import '../js/components/dropdown/style';
@import '../js/components/bubbles/style';
@import '../js/components/notifications/style';
@import '../js/components/code/style';
@import '../js/components/search/style';
@import '../js/components/new_table/style';
@import '../js/containers/mappers/diagram/style';
@import '../js/components/infobar/style';
@import '../js/components/dashboard_module/style';
@import '../js/components/box/style';
@import '../js/components/instances_bar/style';
@import '../js/components/ExpandableItem/style';
@import '../js/components/breadcrumbs/style';
@import '../js/components/Headbar/style';
@import '../js/components/DataOrEmptyTable/style';
@import '../js/components/ContentByType/style';
@import '../js/components/InterfaceTag/style';
@import '../js/components/MasonryLayout/style';
@import '../js/components/alerts_table/style';
@import '../js/components/checkbox/style';
@import '../js/components/ConfigItemsTable/style';

@import './root';
@import './orders';
@import './pane';
@import './job';
@import './auth';

html,
body,
#root,
.app,
.app__wrap,
.container-fluid {
  height: 100%;
  font-size: 12px !important;
  font-family: 'Roboto', 'Arial';
  background-color: $bgcolor;
}

*:focus,
*:active {
  outline: none !important;
  text-decoration: none !important;
}

.app,
.app_wrap {
  background-color: $bgcolor;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

h5 {
  font-size: 14px;
}

.bp3-button,
.bp3-input,
.bp3-button[class*='bp3-icon-']:before {
  font-size: 12px;
}

.bp3-dark .bp3-menu-item.bp3-intent-primary,
.bp3-dark .bp3-menu-item.bp3-intent-primary .bp3-menu-item-label,
.bp3-dark .bp3-menu-item.bp3-intent-primary:after,
.bp3-dark .bp3-menu-item.bp3-intent-primary:before {
  color: #fff !important;
}

.bp3-toast {
  font-size: 14px;
}

.block {
  display: block !important;
}

.form-horizontal {
  /**
   * Resets Bootstrap position of checkboxes and radio for horizontal
   * forms.
   *
   * Bootstrap shift both types of controls by 20px to the left which
   * is undesirable in horizontal forms.
   */
  .radio input[type='radio'],
  .radio-inline input[type='radio'],
  .checkbox input[type='checkbox'],
  .checkbox-inline input[type='checkbox'] {
    margin-left: 0;
  }
}

/**
 * Resets the height of form-control elements to 33px to match the buttons height
 */
.form-control {
  height: 33px;
}

/**
* Adds red border for any invalid input or textarea
*/
.form-error {
  border: 1px solid #cf0000 !important;
}

iframe {
  width: 100%;
  height: calc(100vh - 100px);
  border: none;
}

pre.line-numbers {
  padding-left: 4em;
}

.multiple-input-group input {
  width: 50% !important;
}

.view-content,
.clear {
  clear: both;
}

.resource-name-link {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bp3-menu.sidebar {
  border-radius: 0;
  height: 100%;
  margin-bottom: 30px;
  min-width: 42px;
  max-width: 42px;
  position: relative;
  z-index: 10;

  &.full {
    min-width: 180px !important;
    max-width: 180px !important;
  }
}

div.text-component {
  overflow: hidden;
  line-height: 24px;
  vertical-align: middle;

  &.has-alerts {
    color: $qore-danger;
  }

  &:not(.text-component-expanded) {
    word-break: break-all;
    text-overflow: ellipsis;
  }
}

.conn-options-item {
  clear: both;
  line-height: 2;
}

.cpointer {
  cursor: pointer;
}

.positive-background {
  background-color: lighten($qore-green, 10);
}

.negative-background {
  background-color: lighten($qore-danger, 10);
}

.neosans {
  font-family: 'NeoLight';
}

.neosans-bold {
  font-family: 'NeoMedium';
}

.vab {
  vertical-align: bottom;
  display: inline-flex;
  transform: translateZ(initial);
}

pre {
  margin: 0 !important;
}

.has-link {
  cursor: pointer;
}

.bp3-progress-bar.progress-bar-auto .bp3-progress-meter {
  background-color: $qore-purple;
}

.bp3-input-group {
  border-radius: inherit;
}

.tag-with-margin {
  margin-bottom: 3px;
}

.heading {
  margin-top: 3px;
  margin-bottom: 20px;
}

p.header-detail {
  font-weight: normal;
  display: inline-block;
  font-size: 12px;
  color: #555;
}

.bp3-tabs {
  &:not(.bp3-vertical) {
    .bp3-tab-panel {
      margin-top: 10px !important;
    }

    .bp3-tab-list {
      box-shadow: inset 0 -3px 0 darken(#fff, 3);
      line-height: 25px;
    }
  }

  &:not(.boxed-tabs) {
    .bp3-tab-list {
      display: inline-flex;
    }
  }
}

.bp3-callout.bp3-intent-purple {
  padding-right: 33px;
  background-color: lighten($qore-purple, 53);

  &[class*='bp3-icon-']:before {
    color: $qore-purple;
  }
}

.container-fluid {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.bp3-navbar {
  padding: 0 10px;
}

span.bp3-icon {
  font-size: 12px;
  vertical-align: baseline;
}

.bp3-button-text {
  display: flex;
}

.bp3-button-group,
.bp3-control-group {
  &:not(:last-child) {
    margin-right: 3px;
  }
}

.bp3-control-group .qorus-dropdown:not(:last-child),
.bp3-button-group .qorus-dropdown:not(:last-child) {
  margin-right: -1px;
}

.qorus-dropdown:first-child .bp3-popover-target:first-child button {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.qorus-dropdown:last-child .bp3-popover-target:last-child button {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.bp3-input {
  vertical-align: baseline !important;
}

.tac {
  text-align: center;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 10000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 8000ms ease-in;
}

.bp3-navbar.bp3-dark,
.bp3-dark .bp3-menu {
  background-color: #383c44;
}

.bp3-callout:not(:last-child) {
  margin-bottom: 10px;
}

.bp3-popover.bp3-dark .bp3-popover-arrow-border,
.bp3-popover.bp3-dark .bp3-popover-arrow-fill {
  fill: #383c44;
}

.popover-ellipsize-content {
  width: 100%;
  display: inline-block;
}

.skeleton-loader {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.non-decorated-link {
  color: inherit !important;
  text-decoration: inherit !important;
}

// This is needed for popover contents
// to properly render with tooltips
// otherwise the popover content is rendered
// inline
.bp3-menu .bp3-popover-target {
  display: block;
}
.bp3-select-popover .bp3-popover-content {
  padding: 5px;
}
// Add line-height to bp3 controls
.bp3-radio,
.bp3-switch {
  line-height: 30px;
}
// Add full width to the select popover
.select-popover {
  width: 100%;
}

.bp3-popover-content {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.select-field,
.select-field div,
.select-field button {
  width: 100%;
}

.bp3-portal,
.bp3-overlay-backdrop,
.bp3-overlay {
  z-index: 8999;
}

a {
  color: unset;
}
