.full-background {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/server_updated_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-header {
  font-size: 37px;
  font-family: 'Nunito';
  color: #fff;
  margin-top: 0;

  img {
    padding: 0 10px 0 0;
    vertical-align: text-bottom;
  }
}

.login-wrapper {
  padding: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,0e0e0e+100&0.75+0,0.98+100 */
  background: -moz-linear-gradient(top,  rgba(45,45,45,0.75) 0%, rgba(14,14,14,0.98) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(45,45,45,0.75) 0%,rgba(14,14,14,0.98) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(45,45,45,0.75) 0%,rgba(14,14,14,0.98) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2d2d2d', endColorstr='#fa0e0e0e',GradientType=0 ); /* IE6-9 */
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, .3) 0px 1px 6px, rgba(0, 0, 0, .3) 0px 1px 4px;
}

.login-footer {
  height: 45px;
  padding: 0 20px;
  background: rgba(0, 0, 0, .4);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  span {
    color: darken(#fff, 30);
    display: inline-block;
    line-height: 45px;
    font-weight: 300;
    opacity: .7;
    padding-right: 10px;
  }
}

.login-instance-wrapper {
  line-height: 1;
  font-size: 15px;
  text-align: center;

  span {
    display: inline-block;
    border-top: 1px solid #9ccb3b;
    padding-top: 5px;
    margin-top: 3px;
  }
}
