/* @override http://localhost:8080/css/base.css */

html, body {
	height: 100%;
}

#header {
  color: #fff;
  width: 100%;
}

table thead th {
	font-size: 80%;
}

table thead th[data-sort] {
  font-size: 80%;
  cursor: pointer;
}

.table td, .table th {
	text-align: center;
}

.table thead th {
  line-height: 1em;
  vertical-align: center;
  padding: 4px 12px;
}

.table.table-condensed thead th {
  padding: 4px 5px;
}

.table .name, .table .description {
	text-align: left;
/*  white-space: nowrap;*/
  overflow: hidden;
}

.table .description div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.table .name {
	font-weight: bold;
}

.table-align-left td, .table-align-left th {
    text-align: left;
}

.dropdown-menu li {
	text-align: left;
}

.icon-box {
  background-position: -384px -168px;
}

.badge-ready, .label-ready {
  background-color: #c5e08c;
}

.badge-waiting, .label-waiting {
  background-color: #e5c737;
}

.badge-canceled, .label-canceled {
  background-color: #f2dede;
}

.badge-info2, .label-info2 {
  background-color: #d9edf7;
}

#wrap > .container, #wrap > .section {
/*  padding: 0;*/
  padding-top: 40px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -4em;
  height: 100%;
  background-color: #fff;
/*  position: relative;*/
}

#content {
  position: relative;
  /*width: auto;*/
}

.push {
	clear: both;
	height: 20px;
}

.unfold {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0;
}

#footer {
	background-color: #f5f5f5;
  z-index: 1031;
  width: 100%;
  margin-top: 25px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.credit {
	margin: 5px 0;
}

.table-fixed thead tr {
  background-color: #fff;
}

/*.table-fixed {
    overflow-x: hidden;
    overflow-y: auto;
}
*/
th {
/*    position: relative;*/
    padding-right: 16px;
}

i.sort {
    position: absolute;
/*    bottom: 1em;*/
	top: 50%;
	margin-top: -.5em;
	left: 100%;
}

.bootstrap-datetimepicker-widget ul, .bootstrap-datetimepicker-widget li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-text {
    margin: 0;
    margin-left: 20px;
    display: inline-block;
}

.form-search {
    float: left;
    margin-bottom: 0;
}
.search-box {
    float: right;
}

.loader {
    color: #000;
    margin: 20px 0;
    font-size: 120%;
    width: 100%;
    z-index: 9999;
}

.loader p {
    margin: 15px;
}

table .header-fixed {
  position: fixed;
/*  top: 80px;*/
  /*left: 0;*/
  /*right: 0;*/
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.sticker {
  position: fixed;
  background-color: #fff;
  padding-top: 5px;
  z-index: 1021; /* 10 less than .navbar-fixed to prevent any overlap */
}

.dp {
  margin-bottom: 0;
}

.dp .icon-th {
    display: inline-block;
    margin-top: 10%;
}

.row-fluid .page {
/*  padding-left: 8.333333333%;
  margin-left: 0;
  width: 98.5%; */
  height: 100%;
}

#nav-main {
  background-color: #333;
  font-size: 80%;
  height: 2000px;
}

#nav-main ul, #nav-main li {
  text-align: center;
  padding: 0;
}

#nav-main li {
  padding: 0 15px;
}

#nav-main li {
  border-bottom: 1px solid rgba(0,0,0,.8);
  border-top: 1px solid rgba(255,255,255,.2);
}

#nav-main a {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  padding: 10px 0;
}

#nav-main ul.extra {
  position: fixed;
  bottom: 30px;
  width: 80px;
}

#nav-main li.extra {
  padding: 0;
  border: none;
}

#nav-main .extra a {
  padding: 5px;
  width: calc(100% - 10px);
  margin: 0;
  color: #aaa;
  line-height: 1.2em;
  font-weight: normal;
}

#nav-main a:hover {
  color: #333;
  text-shadow: none;
}

#nav-main span {
	display: block;
	width: 100%;
}

.nav-list a:hover .icon-white {
  background-image: url(../js/libs/bootstrap/img/glyphicons-halflings.png);
}

.nav li {
  position: relative;
}

#nav-main .nav a.active {
	background-color: #555;
}

#nav-main .nav a.active:after {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-right: 11px solid #fff;
  margin-top: -11px;
  position: absolute;
  right: -1px;
  top: 50%;
}


#split-panes {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.pane {
  left: 0;
  top: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

#bottom-bar {
  background-color: #fff;
  position: relative;
  padding: 20px 0;
/*  width: 100%;*/
}

#bottom-bar {
  background: #fff;
  height: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

.handler {
  display: block;
  background-color: #333;
  box-shadow: rgba(0,0,0,.5) 0 0 10px;
  cursor: move;
  color: #fff;
  height: 18px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#bottom-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#workflows .err a {
  color: #000;
}

#workflows .err a:hover {
  text-decoration: none;
}

#workflows .badge a {
  color: #fff;
}

#msg {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}

.qorus-icon {
    display: inline-block;
    margin-right: 3px;
    height: 22px;
    vertical-align: middle;
    width: 22px;
}

.qorus-icon.qorus-icon-warning {
    background: url(../imgs/icon-warning.png) no-repeat;
}

.qorus-icon.qorus-icon-white {
    background: url(../imgs/icon-warning-white.png) no-repeat;
}

.treeview {
	 position: relative;
}

.treeview ul {
	list-style: none;
	text-indent: 0;
	position: relative;
	margin-left: 0;
}

.treeview ul ul {
	/*border-left:  1px solid #eee;*/
	margin: .3em;
	list-style: none;
	text-indent: 0;
	
}

.treeview li {	
  background-color: #fff;
	border-top: 1px solid #eee;
	padding-left: 15px;
}

.treeview li:nth-child(odd) {
	background-color: #f9f9f9;
}

.treeview li:first-child {
	border-top: 0;
}

.treeview li.parent:before {
	content:  "-";
	position: absolute;
	margin-left: -15px;
}

.treeview li.clps:before {
	content:  "+";
	position: absolute;
	margin-left: -15px;
}

.textview {
    display: none;
    height: auto;
}

.row-fluid .textview textarea {
    min-height: 400px;
    height: auto;
}

.relative {
  position: relative;
}

.copy-paste {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100;
}

.icon-error {
    color: #b94a48;
}

.icon-success {
    color: #468847;
}

#stepdetail {
    margin-left: -360px;
    width: 720px;
}

/* modal window */

#stepdetail .modal-body {
    max-height: none;
}

.table-vertical th, .table-vertical td {
    text-align: left;
}

.nav-tabs a {
    text-transform: capitalize;
}


/* PageSlider */
.pageslide {
    /* These styles MUST be included. Do not change. */
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1022;
    
    /* Specify the width of your pageslide here */
    max-width: 80%;
    /*min-width: 60%;*/

    padding: 0;
    overflow-y: auto;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: rgba(245,245,245,0.9);
    color: #000;
    -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    /*-webkit-transition: all 0.6s ease-in-out;
       -moz-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;*/
}

.pageslide.left {
    right: -100%;
}

.pageslide.show {
    right: 0;
}

/*.pageslide .nav > li > a {
    color: #ccc;
}

.pageslide .nav > li > a:hover {
    color: #1589c9;
}

.pageslide .nav > li.active > a {
    background-color: #666;
    color: #fff;
}*/

/*.pageslide table {
	background-color: #fff;
}*/

/*.pageslide th {
    color: #fff;
}

.pageslide .table-striped tr {
    color:  #fff;
}

.pageslide .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #444;
}
*/

.pageslide .content {
    padding: 40px 20px 0 20px;
/*    height: 90%;*/
}
.modal.wider {
  margin-left: -480px;
  width: 960px;
}

.modal form, .modal .form-actions {
  margin-bottom: 0;
}

/*.modal-body .help-inline {
    float: left;
    clear: both;
}*/

/*.table tr td {    
    -webkit-transition: background-color 1000ms linear;
       -moz-transition: background-color 1000ms linear;
         -o-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;
}*/

#content .table-striped tr.changed td {
    background-color: #dff0d8;
}

.align-middle {
  margin-top: 20px;
}

/* ellipsis */
.table td.info {
  text-align: left;
  text-overflow: ellipsis;
  white-space:nowrap; 
  width:12em; 
  overflow:hidden;
  max-width: 200px;
}

.popover {
  max-width: 800px;
}

.popover-content {
  height: 200px;
  width: 800px;
}

.popover-content textarea {
  height: 180px;
  width: 760px;
}

.popover.confirm .popover-content {
  height: auto;
  width: auto;
}

#service-detail .tab-content {
    height: 80%;
}

#service-detail .tab-pane {
    height: 100%;
}

.row-fluid textarea.log {
  min-height: 400px;
  height: 90%;
}

.close-top-right {
  position: absolute;
  top: 60px;
  right: 20px;
}

.close-view {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1050;
}

/* fix treeview pre */

/*.treeview pre {
    display: block;
    background: inherit;
    word-wrap: break-word;
    margin: 0 0 0 auto;
    padding: 10px;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}*/

.table-numbered { 
    counter-reset: line-number; 
}

.table-numbered-col-1 td:nth-child(1):before {
    content: counter(line-number) ".";
    counter-increment: line-number;
}

.table-numbered-col-2 td:nth-child(2):before {
  content: counter(line-number) ".";
  counter-increment: line-number;
}

.toolbar {
  position: relative;
  margin: 1px 0 0 0;
  padding: 5px 0;
  z-index: 1021;
  background-color: #fff;
}

.toolbar-small {
  margin: 0;
}

.table-condensed td {
    padding: 4px 5px;
}

.table-condensed .table-row td {
  padding: 0 5px;
}

.table-condensed td.narrow, .table-condensed th.narrow {
    width: 4em;
}

.context-menu {
    position: fixed;
    width: 150px;
}

.table td.property-key, .table td.property-value {
  text-align: left;
}

.table td.property-key {
  font-weight: bold;
  width: 20%;
}

.table td.property-actions {
    width: 80px;
}

.table td.text-left, .table th.text-left {
    text-align: left;
}

.table td.text-right, .table th.text-right {
    text-align: right;
}

.table thead.extra-padding td {
    font-size: 120%;
    padding-top: 20px;
    padding-bottom: 10px;    
}

#options td.description div {
  max-width: 200px;
}

td.editable {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  padding-right: 20px;
}

.table-row td.editable {
  padding-right: 20px;
}

.editable:after {
  content: "\f040";
  color: #cacaca;
/*  position: absolute;*/
  right: 5px;
  top: 50%;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 90%;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  margin-left: 10px;
}

td.editable:after {
    position: absolute;
    margin-left: .3em;
    margin-top: -.75em;
}

.editable:hover:after {
  color: #000;
}

.editable.editor:after {
  content: "";
  display: none;
}

td.editor {
  background-color: #d9edf7;
  color: #3a87ad;
  outline: 1px solid #bce8f1;
  outline-offset: -1px;
}

.editor input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  width:100%;
}

.editor input:focus {
  outline: none;
  box-shadow: none;
}

.editor.invalid {
  background-color: pink;
  color: #3a87ad;
  outline: 1px solid #bce8f1;
  outline-offset: -1px;
}

/* ocmd */

#output {
  display: block;
  overflow-x: auto;
  height: 200px;
}

#output .error {
  color: red;
}

#output ul, #output li {
  list-style: none;
  text-indent: 0;
}

#output > ul {
  margin-left: 0;
}

/* resizable modal */
.modal .content {
  height: 100%;
/*  overflow: hidden;*/
}

.modal .modal-body {
  max-height: none;
  height: 100%;
/*  overflow: visible;*/
}

.modal-footer {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.ui-resizable-handle { z-index: auto !important; }

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}

.ui-resizable-se {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
}

.ui-resizable-se:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #666;
  border-left: 10px solid transparent;
}

.step {
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  min-height: 80px;
}

.step-level {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

/*.step-level:not(:last-child):after {
  content: "\f063";
  display: block;
  color: #666;
  font-family: 'FontAwesome';
  font-size: 150%;
  left: 50%;
  top: 100%;
  margin-left: -.5em;
  position: absolute;
}*/

.step-normal {
  background-color: '#fff';
}

/* diagram */ 

#canvas-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

#canvas-container { 
  position: relative; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  position: relative; 
}

#canvas { 
  position: absolute; 
}

#diagram {
  font-size: 90%;
  min-height: 500px;
}

/*#order-info .table {
  table-layout: fixed;
}*/

#step-diagram {
  float:left;
  min-width: 200px;
  max-width: 50%;
  overflow: auto;
}

#step-diagram-details {
  padding-left: 40px;
  overflow:hidden;
}

.level {
  text-align: center;
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 0;
  width: 100%;
}

.box {
  display: inline-block;
  background-color: #fff;
  fill: #fff;
  border: 1px solid rgba(0,0,0,.2);
  stroke: 1px solid rgba(0,0,0,.2);
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  min-height: 40px;
  margin: 5px;
  min-width: 150px;
  overflow: hidden;
}

.box a {
  display: block;
  color: #000;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}

.box a:hover {
  text-decoration: none;
}

.box.process {
  border-radius: 5px;
}

.box.async {
  background-color: #d9edf7;
  fill: #d9edf7;
}

.box.subworkflow {
  background-color: #e5c737;
  fill: #e5c737;
}

.box.start {
  padding: 0;
  border-radius: 50%;
/*  background-color: #fff;*/
}

.box.start a {
  padding: 12px 10%;
}

.box.ok {
  background-color: #c5e08c;
  fill: #c5e08c;
}

.box.error {
  background-color: #da4f49;
  *background-color: #bd362f;
  fill: #da4f49;
}

.box.error a {
  color: #fff;
}

.box.selected {
  box-shadow: 0 0 20px rgba(0, 86, 134, 1);
}

.box.waiting {
  background-color: #edd973;
  fill: #edd973;
}

.box.important {
  background-color: #ce807f;
  fill: #ce807f;
}

.box.warning {
  background-color: #fab451;
  fill: #fab451;
}

.box.success {
  background-color: #9ec251;
  fill: #9ec251;
}

.box.info {
  background-color: #75abc6;
  fill: #75abc6;
}

.box.error {
  background-color: #adadad;
  fill: #adadad;
}

.box.canceled {
  background-color: #e2b6b6;
  fill: #e2b6b6;
}

.indent {
  display: inline-block;
  width: 1em;
} 


/* chart styling */

.chart-box {
  float: left;
  position: relative;
  overflow: hidden;
  width: auto;
  margin-right: 40px;
}

.chart {
  margin: 0 0 30px 50px;
}

.chart.pie {
  margin-left: 0;
}

.chart-left-axis-label {
  position: absolute;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkig-font-smoothing: antialiased;
  top: 35%;
  left: 0;
}

.chart-bottom-axis-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: 0; 
}

.chart-legend {
  list-style: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chart-legend-box {
  display: inline-block;
  width: 20px; 
  height: 10px; 
}

#log {
	overflow: hidden;
}

.log-area, .log-area.span12 {
	background-color: #0a0f21;
	overflow: auto;
	min-height: 200px;
    padding: 10px;
	margin: 0;
    height: calc(100% - 20px);
}

.log-area pre {
  background-color: #000;
  color: #fff;
	font-size: 80%;
	margin: 0;
	border-radius: 0;
	padding: 0;
	line-height: 1em;
}

/** fixed header **/

.table-fixed-wrapper {
    position: relative;
    height: 100%;
}

.table-fixed-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.table-fixed .inner {
    position: absolute;
    padding-right: 1em;
    top: 0;
    height: inherit;
    z-index: 1021;
    border-right: 1px solid rgba(0,0,0,.1);
}

.table-fixed th:last-child .inner {
  border-right: none;
}


.sort-asc:after {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 120%;
  margin-left: .2em;
}

.sort-des:after {
  content: "\f0d8";
  font-family: FontAwesome;
  font-size: 120%;
  margin-left: .2em;
}

.table-fixed {
	margin-bottom: 0;
/*  table-layout: fixed;*/
}

table .header-copy {
  border: 0;
}

.header-copy th {
  border: 0;
}

.table-fixed th {
  border-right: 1px solid #ddd;
}

.table-fixed thead th:last-child {
  border: 0;
}

.header-copy:after {
	content: "";
	display: block;
	background-color: transparent;
	height:  1px;
	margin: 0 .5%;
	width: 99%;
	box-shadow: 0 5px 10px rgba(0,0,0,.8);
}

td.date {
  white-space: nowrap;
}

th.nowrap, td.nowrap {
  white-space: nowrap;
}

#alert-detail {
  position: absolute;
  position: fixed;
    background-color: rgba(245,245,245,0.9);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  right: 0;
  top: 0;
  height: 100%;
  max-width: 500px;
  margin: 0;
  padding: 40px 0 0 0;
}

.alert-detail {
	padding: 10px;
}

#header .status {
  margin-top: -10px;
}

#header .pull-right div {
  float: left;
}

#notifications-icon a {
  display: block;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}

#notifications-icon a:hover {
  text-decoration: none;
}

#notifications-icon a .badge {
  position: absolute;
  right: 0;
  top: 5px;
  padding: 2px 4px;
  margin-bottom: -50%;
}

#notifications-list {
  background-color: #3d3f45;
  font-size: 80%;
  color: #fff;
  position: fixed;
  top: 41px;
  right: -300px;
  overflow: auto;
  width: 300px;
  height: 100%;
  z-index: 1030;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

#notifications-list:after {
  content: "";
  display: block;
  height: 40px;
}

#notifications-list.show {
  right: 0;
}

#notifications-list h2 {
	font-size: 100%;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
}

#notifications-list .group header h2 {
  font-size: 110%;
  float: left;
}

#notifications-list .group article {
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 5px 10px;
  overflow: hidden;
}

#notifications-list section.group header {
	background-color: #333;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #364854),
  	color-stop(1, #000000)
  );
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,.5) 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.5) 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.5) 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.5) 0%, #000000 100%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, #000000 100%);
}

#notifications-list section.group button {
	display: block;
	float: right;
	background: rgba(0,0,0,.2);
	border-color: rgba(0,0,0,.2);
  border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 80%;
	padding: 2px;
  line-height: 1em;
	position: absolute;
	right: 10px;
}

#health {
  display: inline-block;
  position: relative;
}

#health .popover {
  color: #000;
  top: -10px !important;
  height: auto;
  width: auto;
}

#health .arrow {
  top: 14px;
}

#health .popover-content {
  height: auto;
  width: auto;
  min-width: 250px;
}

.label-danger {
  color: #ffffff;
  background-color: #da4f49;
  *background-color: #bd362f;
}

.break {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-word;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

/* not supported */
#not-supported {
  position: fixed;
  color: #fff;
  background-color: #000;
  background-color: rgba(0,0,0,.8);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20000;
  text-align: center;
}

#not-supported .wrap {
  margin: 100px auto;
  text-align: left;
  width: 600px;
}

.clickable {
  cursor: context-menu;
}

.btn-controls a.label {
  position: relative;
  margin-right: 2px;
}

.btn-controls a.label:active {
  position: relative;
  top: 1px;
}

.btn-controls a.label:last-child {
  margin-right: 0;
}

.btn-controls a.label:active:after {
  content: "";
  display: block;
  background-color: rgba(255,255,255,.3);
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
}

#controls .autostart, .controls .autostart {
  display: inline-block;
}

.autostart-change {
/*  height: 22px;*/
  min-width: 1em;
  text-align: center;
}

#heading #controls, .heading .controls {
  display: block;
  clear: both;
  margin-bottom: 10px;
}

/* datepicker */
.datepicker {
  color: #000;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  z-index: 1051;
  padding: 10px;
  top: 0;
  left: 0;
  max-width: 200px;
}

.datepicker .table {
  margin-bottom: 10px;
}

.datepicker td, .datepicker thead th {
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 0;
  height: 30px;
  line-height: 2;
  width: 30px;
}

.datepicker thead th[data-toggle]:hover {
  background-color: #ccc;
  cursor: pointer; 
}

.datepicker tbody td:hover {
  background-color: #ccc;
  cursor: pointer;  
}

.datepicker .calendar {
  position: relative;
  overflow: hidden;
}

.datepicker:after {
  content: "";
  position: absolute;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
  top: -10px;
  left: 5px;
}

.datepicker:before {
  content: "";
  position: absolute;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,0.2);
  top: -12px;
  left: 5px;
}

.datepicker .active {
  background-color: #006DCC;
  color: #fff;
}

.datepicker .today {
  background-color: #ffdb99;
}

.datepicker .new, .datepicker .old {
  color: #aaa;
}

.datepicker .hours {
  line-height: 2;
}

/* tab fix */
.tab-content {
  overflow: visible;
}

a[data-target='#Alerts']:before {
  content: "\f071";
  font-family: FontAwesome;
  color: #B94A48;
  margin-right: .5em;
}

td.spacer, .table-striped tbody>tr:nth-child(odd)>td.spacer {
  background-color: transparent;
  border: none;
}

tbody+thead>tr:first-child>td {
  border: none;
}

/* fixed-pane-bottom */
.fixed-pane-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navigation-pinned .fixed-pane-wrapper {
  left: 80px;
  width: calc(100% - 80px);
}

.fixed-pane {
	box-shadow: 0 0 10px rgba(100,100,100,.5);
}

.fixed-pane-bottom {
  left: 0;
  overflow: auto;
  height: 200px;
  background-color: #fff;
  width: 100%;
}

.fixed-pane-right {
  right: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.fixed-pane .fixed-pane-inner {
  position: relative;
  padding: 10px 20px;
}

.workflow-detail {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1021;
}

.ui-resizable-handle.ui-resizable-n {
	background-color: #F6F6F6;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 100%;
	cursor: ns-resize;
}

.ui-resizable-handle.ui-resizable-w {
	background-color: #E5E5E5;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 10px;
	cursor: ew-resize;
}

.ui-resizable-n:after {
	content: "\f0c9";
	color: #666;
	font-family: FontAwesome;
	font-size: 60%;
	position: absolute;
	top: -5px;
	left: 50%;
}

.ui-resizable-w:after {
	content: "\f0c9";
	color: #666;
	font-family: FontAwesome;
	font-size: 60%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: rotate(270deg) ;
	-webkit-transform: rotate(270deg) ;
	-moz-transform: rotate(270deg) ;
	-o-transform: rotate(270deg) ;
	-ms-transform: rotate(270deg) ;
}

.listview {
  width: 100%;
/*  overflow: hidden;*/
  position: relative;
}

/*.tree .indent {
	display: inline-block;
	border-right: 1px dotted red;
    vertical-align: middle;	
	height: 100%;
    width: 20px;
}*/

.tree {
	margin-left: 10px;
}

.tree .indent {
	display: inline-block;
	border-right: 1px dotted red;
	margin-left: 10px;
	height: 100%;
	vertical-align: top;
}

.tree .leaf span:nth-last-child(3) {
	display: inline-block;
	border-right: 1px dotted red;
	margin-left: 10px;
	height: 50%;
	vertical-align: top;
}

.tree .value {
	display: inline-block;
}

.tree .td {
	padding: auto;
}

.tree th {
	position: relative;
}

.tree th.node .value {
	padding-top: 5px;
}

.tree th.node span:last-child:before {
	content:  "\f117";
	display: inline-block;
	font-family: "FontAwesome";
	font-weight: normal;
	background-color: #fff;
    margin: 0;
/*	margin-left: -9px;*/
	margin-right: 10px;
	color: red;
	border: none;
}

/*.tree span:last-child:after {
	content: " ";
	font-size: 0;
	line-height: 0;
	border-bottom: 1px dotted red;
	display: block;
	white-space: pre;
	margin-left: -2px;
	margin-bottom: -2px;
	height: 2px;
	bottom: 0;
}*/

.tree .branch span:last-child:before, .tree .leaf span:last-child:before {
	content: " ";
	border-bottom: 1px dotted red;
	display: inline-block;
	width: 10px;
	margin-left: -2px;
	margin-right: 10px;
    margin-top: .7em;
	vertical-align: top;
}

.tree .leaf span:last-child:after {
	
}

.tree th.node span:last-child:after {
	content:  "";
	color: green;
}

.tree th.leaf span:last-child:after {
	height: 1px;
}

.tree th.node span:nth-last-child(1):after {
	display: inline-block;
	height: 50%;
}

.tree .node .value:before {
	content: "";
	display: inline-block;
	margin: 5px 0;
}

textarea.note {
	height: 1.3em;
	padding: .5%;
	width: 99%;
	border: none;
	border-bottom: 1px solid #eee;
	box-shadow: none;
	outline: none;
	resize: none;
	/*max-height: 15em;*/
	overflow: auto;
}

/**[contenteditable="true"]:after {
  content: "\f14B";
  font-family: "FontAwesome";
}*/

#step-errors th.info {
  min-width: 300px;
}

#step-errors td.info {
  width: 50%;
}

td.break {
  word-break: break-word;
}

.overflow .row-fluid > div {
  overflow: auto;
}

.input-append-small input,
.input-prepend-small input,
.input-prepend-small .add-on,
.input-append-small .add-on {
  padding: 0 6px;
  font-size: 10.5px;
  height: 24px;
  min-height: 24px;
}

.nav.no-margin {
  margin-bottom: 5px;
}

.btn-controls {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-controls a.label {
  margin: 0;
/*  margin-right: -2px;*/
}

.table-condensed .btn-controls {
  margin-top: -4px;
}


td .input-append {
  margin: 0;
}

.autocomplete-box {
  position: relative;
}

input.autocomplete {
  background: transparent;
}

.autocomplete-hint {
  position: absolute;
  top: 0;
  left: 0;
  color: #666;
  z-index: -1;
}

.autocomplete-box .active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.items-listing {
  margin: 14px 0;
}

.items-listing .label {
  margin-right: .5em;
}

.label-info a {
  color: #fff;
}

.label-info a:hover {
  text-decoration: none;
}

.nav li+.nav-subheader {
	margin: 0 0 0 -15px;
	font-size: 10px;
}

.break-word {
	word-wrap: break-word;
}

.legend {
	float: left;
}

.legend ul, .legend li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.legend li {
	display: block;
}

.legend .legend-color-box {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 2px;
	margin-right: 10px;
	vertical-align: text-bottom;
}

#wrap {
  transition: transform 200 ease-in-out;
}

#wrap.offset {
  transform: translate3D(80px,0,0);
}

aside.navigation {
  width: 80px;
  position: fixed;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0s 0.1s;
          transition: opacity 0s 0.1s;
}


aside.navigation.opacity {
  opacity: 1;
  -webkit-transition: opacity 0s 0s;
          transition: opacity 0s 0s;
}

.navigation-pinned aside.navigation {
  top: 40px;
  opacity: 1;
}

.navigation-pinned #wrap {
  padding-left: 80px;
}

.navigation-pinned .menu-icon {
  display: none;
}

.navigation-pinned .navbar-text {
  margin-left: 0;
}

#wrap {
  -webkit-transition: -webkit-transform .1s ease-in-out;
          transition: transform .1s ease-in-out;
}

#wrap.offset {
  -webkit-transform: translate3D(80px,0,0);
          transform: translate3D(80px,0,0);
}

.menu-icon {
  display: block;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 150%;
  -webkit-transition: opacity 0s 0.1s;
          transition: opacity 0s 0.1s;
}

.menu-icon:hover {
  color: #666;
  text-decoration: none;
}

.taskbar, .taskbar li {
  float: left;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

.taskbar {
  margin-right: 10px;
}


.taskbar-icon-image {
  display: block;
  padding: 10px 5px 0 0;
  cursor: pointer;
}

.taskbar-icon-image .icon-stack {
  margin-top: -2px;
}

.taskbar-icon {
  position: relative;
}

.taskbar-icon-detail {
  background: #fff;
  border: 1px rgba(0,0,0,0.2) solid;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 10px 0px;
  color: #000;
  font-size: 90%;
  padding: 10px;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  margin-left: -116px;
  width: 200px;
}

.taskbar-icon-detail:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: calc(50% - 7px);
  top: -10px;
}

.copy-error, .copy-table {
  width: 100%;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.table .check {
  width: 40px;
}

.table .actions {
  width: 80px;
}

.workflow-backlink a {
  color: #000;
  text-decoration: none;
}

.workflow-backlink a:hover:focus {
  text-decoration: none;
}

.workflow-backlink i.icon-chevron-left {
  font-size: 60%;
  display: inline-block;
  vertical-align: middle;
}

.workflow-backlink a:hover i.icon-chevron-left {
  color: #666;
}

.subtle {
  color: #666;
  font-size: 60%;
  display: inline-block;
  vertical-align: middle;
}

a.subtle:hover, a.subtle:focus {
  color: #666;
  text-decoration: none;
}

#heading h3, .heading h3 {
  margin-top: 24.5px;
  margin-right: 60px;
  line-height: 1em;
}

.status-list {
  margin: 0 0 10px 0;
}

.status-list li {
  position: relative;
  text-align: center;
}

.status-list .qtooltip:hover:after {
  display: block;
  content: attr(data-title);
  background-color: rgba(0,0,0,.8);
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 5px);
  left: 20%;
  padding: 5px;
  text-align: center;
}

.status-list .qtooltip:hover:before {
  display: block;
  content: "";

  position: absolute;
  top:  100%;
  left: calc(20% + 10px);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0,0,0,.8);
}

.status-list .badge:hover .short {
  display: none;
}

.filter .btn {
  padding: 4px;
}

.order-header {
  float: left;
  padding-right: 200px;
}

.modal textarea {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
}

.modal textarea[name='note'] {
  min-height: 200px;
}

.search-group {
  float: left;
  width: calc(100% - 300px);
}

.simple-search {
/*    display: none;*/
  overflow: hidden;
}

.advanced-search {
  float: left;
  height: 30px;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.search-toolbar {
  min-height: 30px;
}

.options p {
  margin-bottom: 0;
}

.options p.muted {
  font-weight: normal;
  font-size: 90%;
}

.form-small {
  position: absolute;
  right: 10px;
  top: 0;
}

.form-small input, .form-small button {
  box-sizing: border-box;
  height: 25px;
  padding: 2px 10px;
  vertical-align: middle;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.library-navigation {
  padding: 8px 0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.library-content {
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.library-content .tab-pane {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.box-sizing-border {
  box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto-y {
  overflow-y: auto;
}

.height-fit {
  overflow-y: auto;
  height: 100%;
}

.diagram {
  width: 100%;
}

.diagram text {
  text-anchor: middle;
  alignment-baseline: middle;
  fill: #000;
  font-weight: bold;
  font-size: 10px;
}

.diagram rect.box, .diagram ellipse.box {
  stroke: #000;
  stroke-width: .1pt;
}
/*

.diagram .box:hover {
  fill: pink;
}
*/

.diagram g {
  cursor: pointer;
}

a + a:before {
  content: " "
}