.datepicker {
  font-size: $font-size-small;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1051;

  max-width: 220px;
  padding: 10px;
  border: 1px solid #eee;

  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);

  .table {
    margin-bottom: 10px;
  }

  td,
  thead th {
    line-height: 2;

    width: 30px;
    padding: 0;
    border: none;

    color: #000;
    border-radius: 5px;
  }

  thead th[data-toggle]:hover, thead th.month:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  tbody td:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  .calendar {
    position: relative;
    overflow: hidden;
  }

  &::after {
    content: "";

    position: absolute;
    top: -10px;
    left: 5px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  &::before {
    content: "";

    position: absolute;
    top: -12px;
    left: 5px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,0.2);
  }

  .active {
    background-color: #006DCC;
    color: #fff;
  }

  .today {
    background-color: #ffdb99;
  }

  .new, .old {
    color: #aaa;
  }

  .hours {
    line-height: 2;
  }
}
