.job-results {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .job-results-table {
    overflow-y: auto;
  }

  .job-result-info {
    position: fixed;
    bottom: 29px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
    min-height: 50px;

    .resize-handle {
      background: #cdcdcd;
      height: 10px!important;
      text-align: center;
      color: #fff;
    }

    .inner {
      margin-top: 18px;
      padding: 20px;
    }
  }

  .button--copy {
    position: inherit;
  }
}


.error-info {
  text-align: left !important;
  color: #999999!important;
  font-style: italic;
}
