.job-result-info {
  position: fixed;
  bottom: 27px;
  left: 42px;
  right: 0;
  z-index: 18;
  min-height: 200px;
  padding: 10px;
  background-color: $bgcolor;
  box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, 0.2); /* [4] */

  &.sidebar-open {
    left: 180px;
  }
}

.error-info {
  text-align: left !important;
  color: #999999 !important;
  font-style: italic;
}
