.navbar {
  margin-bottom: 0;
  min-height: 40px;
  max-height: 40px;

  &-text {
    margin: 0;
    margin-left: 20px;
    display: inline-block;
  }
}


.navigation-pinned {
  .navbar-text {
    margin-left: 0;
  }

  aside.navigation {
    top: 40px;
    opacity: 1;
  }
}
