/**
 * Centered message occupying the whole viewport.
 */
#not-supported {
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;

  .wrap {
    width: 600px;
    margin: 100px auto;
    text-align: left;
  }
}
