/**
* Colors for the different states of orders
**/
.badge-black, .label-black, .btn-black {
  background-color: #333;
  color: #fff;

  &.btn-black:hover {
    background-color: #000;
    color: #fff;
  }
}

.badge-gray, .label-gray, .btn-gray {
  background-color: #a9a9a9;
  color: #fff;

  &.btn-gray:hover {
    background-color: darken(#a9a9a9, 10);
    color: #fff;
  }
}

.badge-ready, .label-ready, .btn-ready {
  background-color: #c5e08c;
  color: #fff;

  &.btn-ready:hover {
    background-color: darken(#c5e08c, 10);
    color: #fff;
  }
}

.badge-waiting, .label-waiting, .btn-waiting {
  background-color: #e5c737;
  color: #fff;

  &.btn-waiting:hover {
    background-color: darken(#e5c737, 10);
    color: #fff;
  }
}

.badge-canceled, .label-canceled, .btn-canceled {
  background-color: #f2dede;
  color: #fff;

  &.btn-canceled:hover {
    background-color: darken(#f2dede, 10);
    color: #fff;
  }
}

.status {
  &-complete {
    background-color: $status-green;
    color: #fff;
    text-shadow: -1px -1px 0 darken($status-green, 20);
  }

  &-complete-diagram {
    rect, ellipse { fill: lighten($status-green, 33) }
    text { fill: #000 }
  }

  &-ready {
    background-color: $status-light-green;
    color: #fff;
    text-shadow: -1px -1px 0 $status-green;
  }

  &-ready-diagram {
    rect, ellipse { fill: lighten($status-light-green, 10) }
    text { fill: #000 }
  }

  &-scheduled {
    background-color: $status-blue;
    color: #fff;
    text-shadow: -1px -1px 0 darken($status-blue, 20);
  }

  &-scheduled-diagram {
    rect, ellipse { fill: $status-blue }
    text { fill: #000 }
  }

  &-waiting {
    background-color: $status-yellow;
    color: #fff;
    text-shadow: -1px -1px 0 darken($status-yellow, 20);
  }

  &-waiting-diagram,
  &-async-waiting-diagram,
  &-event-waiting-diagram,
  &-subworkflow-diagram {
    rect, ellipse { fill: $status-light-yellow }
    text { fill: #000 }
  }

  &-incomplete {
    background-color: $status-light-blue;
    color: #fff;
    text-shadow: -1px -1px 0 $status-blue;
  }

  &-incomplete-diagram,
  &-async-diagram {
    rect, ellipse { fill: $status-light-blue }
    text { fill: #000 }
  }

  &-retry {
    background-color: $status-light-gray;
    color: #fff;
    text-shadow: -1px -1px 0 $status-gray;
  }

  &-retry-diagram {
    rect, ellipse { fill: lighten($status-light-gray, 10) }
    text { fill: #000 }
  }

  &-error {
    background-color: $status-red;
    color: #fff;
    text-shadow: -1px -1px 0 darken($status-red, 20);
  }

  &-error-diagram {
    rect, ellipse { fill: $status-light-red }
    text { fill: #000 }
  }

  &-in-progress {
    background-color: $status-orange;
    color: #fff;
    text-shadow: -1px -1px 0 darken($status-orange, 20);
  }

  &-in-progress-diagram {
    rect, ellipse { fill: $status-light-orange }
    text { fill: #000 }
  }

  &-canceled {
    background-color: $status-light-red;
    color: #fff;
    text-shadow: -1px -1px 0 $status-red;
  }

  &-in-progress-diagram {
    rect, ellipse { fill: lighten($status-light-red, 10) }
    text { fill: #000 }
  }

  &-blocked {
    background-color: $status-gray;
    color: #fff;
    text-shadow: -1px -1px 0 #000;
  }

  &-in-progress-diagram {
    rect, ellipse { fill: $status-light-gray }
    text { fill: #000 }
  }

  &-normal-diagram {
    rect, ellipse { fill: #fff }
    text { fill: #000 }
  }

  &-event-diagram {
    rect, ellipse { fill: #ad7fc6 }
    text { fill: #000 }
  }
}


/**
* The global wrapper for the chart view in orders
*/
.chart-view {
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 20px;
  white-space: nowrap;
}

/**
* Styling for the notes view
*/
.note {
  margin-top: 7px;
}

/**
* Styles for the diagram view
**/
.diagram-wrapper {
  overflow: hidden;
}

.diagram-view {
  overflow-x: auto;
  overflow-y: hidden;
  width: 42%;

  .diagram-inner {
    min-width: 500px;
  }
}

.order-info-view {
  width: 54%;
}

/**
* Error panel
*/
.error-pane {
  background-color: #fff;
  position: fixed;
  min-height: 200px;
  width: 93%;
  bottom: 29px;
  z-index: 1000;
  margin-left: -15px;

  .resize-handle {
    background: #cdcdcd;
  }

  .error-toolbar {
    margin-left: 20px;
    margin-top: 5px;
  }

  .error-pane-inner {
    top: 10px;
  }

  .error-pane-table {
    overflow: auto;
  }
}
