/**
* Colors for the different states of orders
**/
.label {
  padding-bottom: 0.2em;
  line-height: unset;
}

.status {
  &-complete {
    background-color: $status-complete;
    color: #fff;

    &-diagram {
      rect,
      ellipse {
        fill: lighten($status-complete, 33) !important;
      }
      text {
        fill: #000;
      }
    }
  }

  &-ready {
    background-color: $status-ready;
    color: #fff;
  }

  &-scheduled {
    background-color: $status-scheduled;
    color: #fff;
  }

  &-waiting {
    background-color: $status-waiting;
    color: #fff;
  }

  &-waiting-diagram,
  &-async-waiting-diagram,
  &-event-waiting-diagram {
    rect,
    ellipse {
      fill: lighten($status-waiting, 6) !important;
    }
    text {
      fill: #000;
    }
  }

  &-incomplete {
    background-color: $status-incomplete;
    color: #fff;
  }

  &-retry {
    background-color: $status-retry;
    color: #fff;

    &-diagram {
      rect,
      ellipse {
        fill: darken($status-retry, 10) !important;
      }
      text {
        fill: #000;
      }
    }
  }

  &-error {
    background-color: $status-error;
    color: #fff;

    &-diagram {
      rect,
      ellipse {
        fill: lighten($status-error, 25) !important;
      }
      text {
        fill: #000;
      }
    }
  }

  &-in-progress {
    background-color: $status-in-progress;
    color: #fff;

    &-diagram {
      rect,
      ellipse {
        fill: lighten($status-in-progress, 5) !important;
      }
      text {
        fill: #fff;
      }
    }
  }

  &-canceled {
    background-color: $status-canceled;
    color: #fff;
  }

  &-blocked {
    background-color: $status-blocked;
    color: #fff;
  }

  //* DIAGRAM STEP TYPES
  &--diagram {
    rect,
    ellipse {
      fill: #fff;
    }
    text {
      fill: #000;
    }
  }

  &-subworkflow-diagram {
    rect,
    ellipse {
      stroke: $qore-warning !important;
    }
  }

  &-async-diagram {
    rect,
    ellipse {
      stroke: #3b3b98 !important;
    }
  }

  &-event-diagram {
    rect,
    ellipse {
      stroke: #b33771 !important;
    }
  }
}

/**
* The global wrapper for the chart view in orders
*/
.chart-view {
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 20px;
  white-space: nowrap;
}

/**
* Styling for the notes view
*/
.note {
  margin-top: 7px;
}

/**
* Styles for the diagram view
**/
.diagram-wrapper {
  overflow: hidden;
}

.diagram-view {
  overflow-x: auto;
  overflow-y: hidden;
  width: 42%;
}

.diagram-inner {
  text-align: center;
}

.order-info-view {
  width: 54%;
}

/**
* Error panel
*/
.error-pane {
  background-color: #fff;
  position: fixed;
  min-height: 200px;
  width: 93%;
  bottom: 29px;
  z-index: 1000;
  margin-left: -15px;

  .resize-handle {
    background: #cdcdcd;
  }

  .error-toolbar {
    margin-left: 20px;
    margin-top: 5px;
  }

  .error-pane-inner {
    top: 10px;
  }

  .error-pane-table {
    overflow: auto;
  }
}
