@import './pane/steps';
@import './pane/log';

.pane-item {
  clear: both;

  margin-bottom: 6px;

  .pane-item-header {
    height: 30px;
    margin-bottom: 6px;
    overflow: hidden;
  }

  h5.pane-item-title {
    vertical-align: sub;
    margin: 0;
    display: inline-block;
    line-height: 30px;
    font-weight: 600;
    color: darken($qore-cobalt, 3);
    font-size: 14px;
    font-family: 'Roboto';
  }

  .pane-item-label {
    height: 30px;
    line-height: 30px;

    h5 {
      height: 30px;
      line-height: 30px;
    }
  }
}
