.root {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  height: 100%;

  &:not(.maximized) {
    .root__center {
      margin-top: 50px; /* [1], [4] */

      > .section {
        margin-bottom: 30px;
        height: calc(100vh - 80px);
      }
    }
  }

  &__center {
    position: relative; /* [5] */

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;

    -ms-flex: 1 1 auto;
    -webkit-flex: auto;
    flex: 1 1 auto;
    overflow-x: auto;
    overflow-y: hidden;

    > .section {
      flex: 1 1 auto;
      overflow: auto;
      display: flex;
      flex-flow: column;
      padding: 10px;
    }
  }
}

.menu-btn {
  color: #fff;
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  //border-color: #333;
}

/**
* Basic set of colours for FA icons
*/
.icon-danger {
  color: #b94a49;
}

.icon-success {
  color: #5cb85c;
}

.bp3-menu-header h6 {
  font-size: 15px !important;
}

.loading-logo {
  width: 520px;
}

.loading-section {
  clear: both;
  width: 210px;
  margin: 0 auto;

  .loading-spinner {
    float: right;
    height: 50px;
    line-height: 50px;

    .bp3-spinner {
      vertical-align: middle;
    }
  }

  .loading-text {
    float: left;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }
}
