/**
 * Data is suited for large data sets.
 *
 * 1. It draw guides around cells in table head using borders.
 * 2. Generally, all cells are aligned to the center.
 * 3. Name cells are bold and aligned to the left.
 *
 * Condensed data table are even more condensed expecting certain
 * columns (and cells) to be defined:
 *
 * 4. Narrow cells have specific width.
 * 5. Name cells are have larger padding so that the text is not
 *    tucked to the side.
 * 6. Table head cells have smaller font.
 */
table.table--data {
  tr.row-highlight {
    background-color: #deffdf !important;
  }

  tr.row-alert {
    background-color: lighten($status-light-red, 20);
  }

  tr.row-hidden {
    visibility: hidden;
  }

  td {
    a, p, span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0;
    }
  }

  thead th {
    border-bottom: 1px solid #ddd !important;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th, > td {
        text-align: center; /* [2] */

        &.name { /* [2] */
          font-weight: 500;
          text-align: left;
        }

        &.desc, &.text { /* [2] */
          text-align: left;
        }

        &.nowrap {
          white-space: nowrap;
        }
      }
    }
  }

  > thead,
  > tfoot {
    > tr {
      > th, > td { /* [1] */
        border-right: 1px solid $table-border-color;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  &.table-condensed {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th, > td {
          padding-top: $padding-xs-vertical;
          padding-bottom: $padding-xs-vertical;

          &.tiny {
            width: 25px;
          }

          &.narrow { /* [4] */
            width: 50px;
          }

          &.normal { /* [4] */
            width: 75px;
          }

          &.medium { /* [4] */
            width: 100px;
          }

          &.big { /* [4] */
            width: 150px;
          }

          &.large { /* [4] */
            width: 200px;
          }

          &.alerts-large { /* [4] */
            width: 250px;
          }

          &.name { /* [5] */
            padding-left: $padding-xs-horizontal;
            padding-right: $padding-xs-horizontal;
          }
        }
      }
    }

    > thead,
    > tfoot { /* [6] */
      font-size: $font-size-extra-small;
      line-height: floor($font-size-extra-small * 1.1);
    }

    > tbody tr:first-of-type td,
    > tbody tr:first-of-type th {
      border-top: 0 !important;
    }
  }

  div.shorten {
    overflow: hidden;
    height: $line-height-base;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }
}


/**
 * Table with smaller padding on cells.
 */
table.table--small {
  &.table-condensed {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th, > td {
          padding: $padding-xs-vertical $padding-xs-horizontal;
          vertical-align: middle;
        }
      }
    }
  }
}

table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th, > td {
        &.align-right {
          text-align: right;
        }
        &.align-left {
          text-align: left;
        }
        &.align-center {
          text-align: center;
        }
      }
    }
  }
}

table.table--centered {
  margin: auto;
  width: auto;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th, td {
        text-align: center;
      }
    }
  }
  input {
    width: 40px;
  }
}

div.table-wrapper {
  height: auto;
  overflow: auto;
  margin: 10px 0;
}

div.table-body-wrapper,
div.table-header-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

table.table-body,
table.table-header {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
}


.props-table {
  margin-left: 10%;
  width: 90%;

  th {
    width: 20%;
  }

  td:first-of-type {
    width: 70%;
    text-align: left;
  }

  td:last-of-type {
    width: 10%;
    text-align: right;
  }
}
