/**
 * Data is suited for large data sets.
 *
 * 1. It draw guides around cells in table head using borders.
 * 2. Generally, all cells are aligned to the center.
 * 3. Name cells are bold and aligned to the left.
 *
 * Condensed data table are even more condensed expecting certain
 * columns (and cells) to be defined:
 *
 * 4. Narrow cells have specific width.
 * 5. Name cells are have larger padding so that the text is not
 *    tucked to the side.
 * 6. Table head cells have smaller font.
 */
table.table--data {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th, > td {
        text-align: center; /* [2] */

        &.name { /* [2] */
          font-weight: 500;
          text-align: left;
        }

        &.desc { /* [2] */
          text-align: left;
        }

        &.nowrap {
          white-space: nowrap;
        }
      }
    }
  }

  > thead {
    > tr {
      > th, > td { /* [1] */
        border-right: 1px solid $table-border-color;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  &.table-condensed {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th, > td {
          padding-top: $padding-xs-vertical;
          padding-bottom: $padding-xs-vertical;

          &.narrow { /* [4] */
            width: 50px;
          }

          &.name { /* [5] */
            padding-left: $padding-xs-horizontal;
            padding-right: $padding-xs-horizontal;
          }
        }
      }
    }

    > thead { /* [6] */
      font-size: $font-size-extra-small;
      line-height: floor($font-size-extra-small * 1.1);
    }
  }

  div.shorten {
    overflow: hidden;
    height: $line-height-base;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }
}


/**
 * Table with smaller padding on cells.
 */
table.table--small {
  &.table-condensed {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th, > td {
          padding: $padding-xs-vertical $padding-xs-horizontal;
          vertical-align: middle;
        }
      }
    }
  }
}

table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th, > td {
        &.align-right {
          text-align: right;
        }
        &.align-left {
          text-align: left;
        }
        &.align-center {
          text-align: center;
        }
      }
    }
  }
}

table.table--centered {
  margin: auto;
  width: auto;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th, td {
        text-align: center;
      }
    }
  }
  input {
    width: 40px;
  }
}
