.workflow-pane {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;

  > :first-child {
    -ms-flex: initial;
    flex: initial;
  }

  > :nth-child(2) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;

    -ms-flex: auto;
    flex: auto;
    overflow: hidden;

    > .nav-tabs {
      -ms-flex: initial;
      flex: initial;
    }

    > .tab-content {
      position: relative;
      -ms-flex: auto;
      flex: auto;
      overflow: hidden;

      > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
      }
    }
  }
}


#library {
  overflow: hidden;

  > .row {
    height: 100%;

    & > .col-sm-3,
    & > .col-sm-9 {
      height: 100%;
    }

    & > .col-sm-3 > .well,
    & > .col-sm-9 > .tab-content > .tab-pane > pre {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      left: 15px;

      width: auto;
    }
    > .col-sm-3 > .well {
      right: 7px;
      overflow-y: scroll;
    }
    > .col-sm-9 > .tab-content > .tab-pane > pre {
      left: 8px;
      overflow: scroll;
    }

    padding-top: 15px;
    padding-bottom: 15px;

    > .col-sm-3 > .well {
      margin-bottom: 0;
      padding: 0;
    }
    > .col-sm-9 > .tab-content > .tab-pane > pre {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .nav {
    word-wrap: break-word;

    & > li.disabled > a {
      cursor: inherit;
    }

    & > li > a > h5,
    & > li > a > h6 {
      text-transform: uppercase;
    }

    & > li > a > h5 {
      font-size: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    & > li > a > h6 {
      font-size: 90%;
      margin-top: -3px;
      margin-bottom: -6px;
    }
    & > li > a > span {
      display: block;
      margin-top: -6px;
      margin-bottom: -6px;
    }
  }
}


#log {
  overflow: hidden;

  padding-top: 5px;

  > :first-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 100%;

    > .btn-controls {
      -ms-flex: initial;
      flex: initial;
    }

    > .log-area {
      position: relative;

      -ms-flex: auto;
      flex: auto;

      > pre {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 20px;
        left: 0;

        overflow: auto;

        font-size: 11px;
      }

      .highlight {
        background: slategray;
      }
    }
  }
}
