.masonry-layout {
  column-gap: 10px;

  &.columns-1 {
    column-count: 1;
  }

  &.columns-2 {
    column-count: 2;
  }

  &.columns-3 {
    column-count: 3;
  }

  .masonry-panel {
    break-inside: avoid;
    padding-bottom: 10px;
  }
}
