$zindex-pane: 17;
$zindex-notifications-pane: 18;
$pane-padding: 10px;
$pane-bg-color: rgba(245, 245, 245, 0.9);
$pane-font-color: #000;

/**
 * Pane hovers over the rest of the page.
 *
 * 1. Hovers.
 * 2. Can be stretched to 80% width of the page.
 * 3. Allows vertical overflow.
 * 4. To visualize hovering, there is a drop shadow.
 * 5. Can be aligned to the right.
 * 6. Can be closed via button which is always visible and placed in
 *    to the top-right corner.
 * 7. Adds some horizontal whitespace.
 * 8. Sets 100% height which allows children to setup some nice things
 *    like flexbox.
 * 9. Active tab in navigation has transparent background (overrides
 *    default Bootstrap white), black font color and overlay
 *    tab content area border so tab the tab and the area look solid.
 */

// If the pane is outside of content wrapper, add top;
.root > .floating-pane-wrapper > .pane {
  top: 50px;
  z-index: $zindex-notifications-pane;
}

.pane {
  position: absolute; /* [1] */
  top: 0; /* [1] */
  bottom: 27px; /* [1] */
  z-index: $zindex-pane;
  padding-top: 10px;
  padding-left: $pane-padding; /* [7] */
  padding-right: $pane-padding; /* [7] */

  max-width: 80%; /* [2] */

  overflow-y: auto; /* [3] */

  background-color: darken($bgcolor, 5);
  box-shadow: -2px 0 5px 2px rgba(#bbb, 0.9); /* [4] */

  &.right {
    /* [5] */
    right: 0;
  }

  .pane-header {
    padding: 10px 15px;
  }

  &__content {
    clear: both;
  }

  .nav-tabs > li.active {
    /* [9] */
    > a,
    > a:hover,
    > a:focus {
      /**
       * Cannot use transpanret border color because tab content are
       * has it's own border and they overlap. So we the same color as
       * the one used on pane background which is barely noticable and
       * creates the illusion of solid space.
       */
      border-bottom-color: $pane-bg-color;

      background-color: transparent;
      color: $pane-font-color;
    }
  }
}
