<div class="btn-toolbar sticky toolbar">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-check-empty check-all checker"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu above">
      <li><a href="#" class="check-all">All</a></li>
      <li><a href="#" class="uncheck-all">None</a></li>
      <li><a href="#" class="invert">Invert</a></li>
    </ul>
  </div>
  <div class="btn-group hide toolbar-actions">
    <button class="btn" data-id="selected" data-action="setStatus" data-enabled="false" data-method="put"><i class="icon-remove"></i> Disable</button>
    <button class="btn" data-id="selected" data-action="setStatus" data-enabled="true" data-method="put"><i class="icon-off"></i> Enable</button>
  </div>
  <div class="pull-right">
    <form class="form-search">
      <div class="input-append search-box">
        <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
  </div>
</div>