$resize-handle-width: 10px;

/**
 * Resize handle stretches on the respective border of its (resizable)
 * parent.
 */
.resize-handle {
  position: absolute;

  &.bottom.right {
    .bp3-icon.bp3-icon-drag-handle-vertical {
      transform: rotateZ(45deg);
      top: -2px;
      left: -2px;
    }
  }

  &.bottom.left {
    .bp3-icon.bp3-icon-drag-handle-vertical {
      transform: rotateZ(-45deg);
      top: -2px;
      left: 2px;
    }
  }

  .bp3-icon {
    font-size: 10px;
    color: darken($bgcolor, 32);
    position: absolute;
    &.bp3-icon-drag-handle-vertical {
      top: 50%;
      transform: translateY(-50%);
    }
    &.bp3-icon-drag-handle-horizontal {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.top {
    top: 0;
    height: $resize-handle-width;

    &:not(.left):not(.right) {
      left: 0;
      right: 0;
      height: $resize-handle-width;

      cursor: ns-resize;
      &.min {
        cursor: n-resize;
      }
    }
    &.left {
      cursor: nwse-resize;
      &.min {
        cursor: nw-resize;
      }
    }
    &.right {
      cursor: nesw-resize;
      &.min {
        cursor: ne-resize;
      }
    }
  }

  &.bottom {
    bottom: 0;
    height: $resize-handle-width;

    &:not(.left):not(.right) {
      left: $resize-handle-width;
      right: $resize-handle-width;
      cursor: ns-resize;
      &.min {
        cursor: s-resize;
      }
    }
    &.left {
      cursor: nesw-resize;
      &.min {
        cursor: sw-resize;
      }
    }
    &.right {
      cursor: nwse-resize;
      &.min {
        cursor: se-resize;
      }
    }
  }

  &.left {
    left: 0;
    width: $resize-handle-width;

    &:not(.top):not(.bottom) {
      top: $resize-handle-width;
      bottom: $resize-handle-width;

      cursor: ew-resize;
      &.min {
        cursor: w-resize;
      }
    }
  }
  &.right {
    right: 0;
    width: $resize-handle-width;

    &:not(.top):not(.bottom) {
      top: $resize-handle-width;
      bottom: $resize-handle-width;

      cursor: ew-resize;
      &.min {
        cursor: e-resize;
      }
    }
  }
}
