/**
 * Modal is well styled from Bootstrap.
 *
 * 1. Just allow textarea resing only vertically.
 */
.handle {
  cursor: move;
}
.modal textarea {
  resize: vertical; /* [1] */
}

.modal-content {
  height: 100%;
}

.pt-dialog.has-footer .pt-dialog-body {
  margin-bottom: 40px;
}

.pt-overlay.pt-overlay-open.pt-overlay-scroll-container {
  z-index: 25 !important;
}

.pt-dialog-body {
  top: 0px;
  margin: 0;
  margin-top: 40px;
  padding: 15px 15px 0 15px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  max-height: 88vh;
}

.pt-dialog-header {
  position: fixed;
  left: 1px;
  right: 1px;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}

.pt-dialog-footer {
  position: fixed;
  left: 1px;
  right: 1px;
  bottom: 15px;
  margin-top: 15px;
}

.modal-dialog {
  max-height: 91vh;
  max-width: 90vw;
  overflow: hidden;
}
