/**
 * Modal is well styled from Bootstrap.
 *
 * 1. Just allow textarea resing only vertically.
 */
.modal textarea {
  resize: vertical; /* [1] */
}

.modal-content {
  height: 100%;
  overflow: auto;
}
