<% var orig_item = obj.item %>
<% var item = obj.item.toJSON() %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="modalHeader">Reschedule <%= item.name %> <small><%= item.version %></small></h3>
</div>
<form class="form-horizontal">
<div class="modal-body">
    <p><em><%= item.description %></em><p>
        <input type="hidden" id="jobid" name="jobid" value="<%= item.jobid %>" />
        <div class="control-group">
            <label class="control-label" for="minute">Minute </label>
            <div class="controls">
                <input type="text" name="minute" id="minute" value="<%= item.minute %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="minute">Hour </label>
            <div class="controls">
                <input type="text" name="hour" id="hour" value="<%= item.hour %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="minute">Day </label>
            <div class="controls">
                <input type="text" name="day" id="day" value="<%= item.day %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="minute">Month </label>
            <div class="controls">
                <input type="text" name="month" id="month" value="<%= item.month %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="minute">Week </label>
            <div class="controls">
                <input type="text" name="wday" id="wday" value="<%= item.wday %>" />
            </div>
        </div>

    </div>
<div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button type="submit" class="btn btn-primary">Reschedule</button>
</div>
</form>
