<div class="btn-toolbar sticky toolbar">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-check-empty check-all checker"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu above">
		<li><a href="#" class="check-all">All</a></li>
		<li><a href="#" class="uncheck-all">None</a></li>
		<li><a href="#" class="invert">Invert</a></li>
    </ul>
  </div>
  <div class="btn-group hide toolbar-actions">
    <button class="btn" data-id="selected" data-action="run" data-method="put"><i class="icon-play"></i> Run</button>
    <button class="btn" data-id="selected" data-action="reset" data-method="put"><i class="icon-refresh"></i> Reset</button>
  </div>
  <div class="btn-group">
      <div class="input-prepend date dp" data-date="<%= date %>" data-format="yyyy-mm-dd hh:ii:ss">
        <span class="add-on"><i class="icon-th"></i></span>
        <input type="text" class="span10" value="<%= date %>">
      </div>
      <div class="btn-group">
        <button class="btn" data-action="open" data-url="/jobs/all">All</button>
        <button class="btn" data-action="open" data-url="/jobs">24 h</button>
      </div>
  </div>
  <div class="pull-right">
    <form class="form-search">
      <div class="input-append search-box">
        <input type="text" class="span8 search-query appendInputButton" placeholder="Search...">
        <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
      </div>
    </form>
  </div>
</div>