.instances-bar-wrapper {
  height: 22px;
  display: inline-block;

  span {
    display: inline;

    &:first-child div {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child div {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .instances-bar {
    height: 100%;
    line-height: 22px;
    display: inline-block;
    color: #fff;
    position: relative;
    text-align: center;

    &.bar-none {
      width: 100%;
    }
  }

  .instances-bar,
  .instance-bar-value {
    &:not(.bar-none) {
      cursor: pointer;
    }

    &.bar-complete {
      background-color: $status-complete;
    }

    &.bar-ready {
      background-color: $status-ready;
    }

    &.bar-scheduled {
      background-color: $status-scheduled;
    }

    &.bar-waiting {
      background-color: $status-waiting;
    }

    &.bar-in-progress {
      background-color: $status-in-progress;
    }

    &.bar-retry {
      background-color: $status-retry;
    }

    &.bar-incomplete {
      background-color: $status-incomplete;
    }

    &.bar-canceled {
      background-color: $status-canceled;
    }

    &.bar-error {
      background-color: $status-error;
    }

    &.bar-blocked {
      background-color: $status-blocked;
    }

    &.bar-none {
      color: #888;
      background-color: lighten($qore-gray, 30);
    }
  }
}
