<div class="alert-detail">
  <h3>Alert detail</h3>
  <table class="table table-align-left">
    <tbody>
      <tr>
        <th>Alert</th>
        <td><%= item.alert %></td>
      </tr>
      <tr>
        <th>Type</th>
        <td><%= item.type %></td>
      </tr>
      <tr>
        <th>Object</th>
        <td><%= (item.object_url ) ? '<a href="'+ item.object_url +'">' + item.object_name + '</a>' : item.object_name %></td>
      </tr>
      <tr>
        <th>Source</th>
        <td><%= item.source %></td>
      </tr>
      <tr>
        <th>Who</th>
        <td><%= item.who %></td>
      </tr>
      <tr>
        <th>Reason</th>
        <td><div class="break"><%= escapeHtml(item.reason) %></div></td>
      </tr>
      <tr>
        <th>Local</th>
        <td><%= statusIcon(item.local) %></td>
      </tr>
      <tr>
        <th>Instance</th>
        <td><%= item.instance %></td>
      </tr>
      <tr>
        <th>Audit ID</th>
        <td><%= item.auditid %></td>
      </tr>
    </tbody>
  </table>
</div>