<div class="chart-box">
  <div class="chart-left-axis-label">Time in <%= obj.scale %> ms</div>
  <canvas class="chart" id="<%= obj.chart.id %>" width="<%= obj.chart.width %>" height="<%= obj.chart.height %>"></canvas>
  <div class="chart-bottom-axis-label">Hour/Day [Orders processed]</div>
</div>
<% if (obj.legend) { %>
<div class="span2">
  <ul class="chart-legend">
    <% _.each(obj.legend, function (l) { %> 
      <li><div class="chart-legend-box" style="background-color: <%= l.color %>;"></div> <%= l.name %></li>
    <% }) %>
  </ul>
</div>
<% } %>