<h3>Extensions</h3>
<ul class="nav nav-tabs">
<% _.each(obj.col.getGroups(), function (group, i) { %>
  <li<%= (i==0) ? ' class="active"' : '' %>><a href="#<%= group %>" data-toggle="tab"><%= group %></a></li>
<% }) %>
</ul>

<div class="tab-content">
  <% var cntr = 0; %>
  <% var grouped = obj.col.grouped() %>
  <% _.each(grouped, function(group,i) { %>
  <div class="tab-pane <%= (cntr==0) ? 'active': '' %>" id="<%= i %>">
      <ul>
      <% _.each(group, function (item) { %>
        <% var item = item.toJSON(); %>
        <li><a href="/extensions/<%= item.url_name %>"><%= item.menuname %></a> <br /><small><%= item.desc %></small></li>
      <% })%>
      </ul>
  </div>
  <% cntr++; %>
  <% }); %>
</div>