<div id="events" class="row-fluid">
    <div class="toolbar span12">
        <div class="events-toolbar btn-toolbar sticky toolbar"> 
            <form class="form-search">
              <div class="input-append search-box">
                <input type="text" class="span8 search-query appendInputButton" placeholder="Search..." />
                <button type="submit" class="btn">&nbsp;<i class="icon-search"></i></button>
              </div>
            </form>
        </div>
    </div>
    <div id="event-list"></div>
</div>