<table class="table table-striped table-condensed table-fixed">
	<thead>
	<tr>
		<th data-sort="timestamp">Timestamp</th>
		<th class="severity" data-sort="severity">Severity</th>
		<th data-sort="event">Event</th>
		<th class="info" data-sort="class">Class</th>
		<th class="info" data-sort="id">ID</th>
		<th class="info" data-sort="instanceid">Instance/Exec ID</th>
		<th class="info" data-sort="name">Name</th>
		<th class="info" data-sort="status">Status</th>
		<th class="info" data-sort="error">Error</th>
        <th></th>
	</tr>
	</thead>
	<tbody>
	</tbody>
</table>