<ul class="nav nav-tabs">
  <li class="active"><a href="dashboard" data-target="#dashboard">Dashboard</a></li>
  <li><a href="alerts" data-target="#alerts">Alerts</a></li>
  <li><a href="options" data-target="#options">Options</a></li>
  <li><a href="remote" data-target="#remote">Connections</a></li>
  <li><a href="prop" data-target="#prop">Properties</a></li>
  <li><a href="http" data-target="#http">Http Services</a></li>
  <li><a href="info" data-target="#info">Info</a></li>
  <li><a href="logs" data-target="#logs">Logs</a></li>
  <li><a href="rbac" data-target="#rbac">RBAC</a></li>
  <li><a href="errors" data-target="#errors">Errors</a></li>
</ul>

<% var item = obj.item; %>

<div class="tab-content">
  <div id="dashboard" class="tab-pane active">
  </div>
  <div id="options" class="tab-pane">
  </div>
  <div id="alerts" class="tab-pane">
  </div>
  <div id="remote" class="tab-pane">
  </div>
  <div id="prop" class="tab-pane">
  </div>
  <div id="http" class="tab-pane">
  </div>
  <div id="info" class="tab-pane">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="description">Value</th>
        </tr>
      </thead>
      <tbody>
    <% _.each(item, function (item, key) { %>
      <tr>
        <td class="name"><%= key %></td>
        <% if (key != 'modules') { %>
        <td class="description"><%= _.isObject(item) ? createNestedList(item) : item %></td>
        <% } else { %>
        <td class="description">
            <dl>
          <% _.each(item, function (it, key) { %>
              <dt><%= key %> <%= it.version %></dt>
              <dd><small>Desc: <%- it.desc %><br />
                Author: <%- it.author %> (<%= it.url %>)</small></dd>
          <% }) %>
        </td>          
        <% } %>
      </tr>
    <% }) %>
      </tbody>
    </table>
  </div>
  <div id="logs" class="tab-pane">
  </div>
  <div id="rbac" class="tab-pane">
  </div>
  <div id="errors" class="tab-pane">
  </div>
</div>