<% var domains = obj.data %>

<div class="row-fluid">
  <div class="create span2">
    <a class="btn btn-small btn-success" data-toggle="modal" data-target="#prop-editor"><i class="icon-plus"></i> Add property</a>
  </div>
  <div class="pull-right">
    <form id="property-search" class="form-search">
      <div class="input-append search-box">
        <input type="text" class="search appendInputButton search-query" id="property-filter" placeholder="Filter..." />
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
    </form>
  </div>
</div>
  <table class="table table-condensed table-striped">
<% _.each(domains, function (domain, key) { %>
    <thead class="extra-padding">
        <tr>
            <td colspan="3" class="name"><%= key.toUpperCase() %></td>
            <td><% if (key !== 'omq') { %><a class="btn btn-mini btn-danger" data-action="delete" data-key="" data-value="" data-domain="<%= key %>"><i class="icon-remove"></i></a><% } %></td>
        </tr>
    </thead>
    <tbody>
  <% _.each(domain, function(prop, pkey) { %>
        <tr data-search="<%= key %>,<%= prop %>,<%= pkey %>">
          <td class="spacer"></td>
          <td class="property-key"><%= pkey %></td>
          <td class="property-value"><%= (_.isObject(prop)) ? JSON.stringify(prop) : prop %></td>
          <td class="property-actions"><% if (key !== 'omq') { %><a class="btn btn-mini btn-warning edit-modal" data-toggle="modal" data-target="#prop-editor" 
              data-key="<%= pkey %>" data-value="<%= prop %>" data-domain="<%= key %>"><i class="icon-pencil"></i></a>
              <a class="btn btn-mini btn-danger" data-action-confirm="delete" data-key="<%= pkey %>" data-value="<%= prop %>" data-domain="<%= key %>"><i class="icon-remove"></i></a><% } %></td>
        </tr>
  <% }) %>
    </tbody>
<% }) %>  
</table>

<div id="prop-editor" class="modal hide fade wider" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalHeader">Create/update property</h3>
  </div>
  <form>
  <div class="modal-body">
      <label for="domain">Domain</label>
      <input type="text" value="" name="domain" id="domain" />
      <label for="key">Key</label>
      <input type="text" value="" name="key" id="key" />
      <label for="value">Value</label>
      <textarea type="hidden" name="value" id="value"></textarea>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-success" data-action="update">Save</button>
  </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">
// plugin showcase
$('.edit-modal').click(function (e) {
   var $target = $(e.currentTarget);
   $('#key').val($target.data('key'));
   $('#value').val($target.data('value'));
   $('#domain').val($target.data('domain'));
});
</script>