<% var domains = domains %>

<div class="row-fluid">
<% if (user.hasPermissions(['SET-PROPERTY', 'SERVER-CONTROL'])) { %>
  <div class="create span2">
    <a class="btn btn-small btn-success" data-toggle="modal" data-target="#prop-editor"><i class="icon-plus"></i> Add property</a>
  </div>
<% } %>
<% if (_.size(domains) > 0) { %>
  <div class="pull-right">
    <form id="property-search" class="form-search">
      <div class="input-append search-box">
        <input type="text" class="search appendInputButton search-query" id="property-filter" placeholder="Filter..." value="<%= _.result(obj, 'query') %>" />
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
    </form>
  </div>
</div>
  <table class="table table-condensed table-striped">
<% _.each(domains, function (domain) { %>
    <thead class="extra-padding">
        <tr>
            <td colspan="3" class="name"><%= domain %></td>
            <td><% if (domain !== 'omq' && user.hasPermissions(['DELETE-PROPERTY', 'SERVER-CONTROL'])) { %><a class="label label-danger" data-action="delete" data-key="" data-value="" data-domain="<%= domain %>"><i class="icon-remove"></i></a><% } %></td>
        </tr>
    </thead>
    <tbody>
  <% _.each(_.filter(items, { domain: domain }), function(prop, shit) { %>
        <tr>
          <td class="spacer"></td>
          <td class="property-key"><%= prop.prop.key %></td>
          <td class="property-value"><%= (_.isObject(prop.prop.value)) ? JSON.stringify(prop.prop.value) : prop.prop.value %></td>
          <td class="property-actions"><% if (domain !== 'omq') { %>
              <% if (user.hasPermissions(['SET-PROPERTY', 'SERVER-CONTROL'])) { %><a class="label label-warning edit-modal" data-toggle="modal" data-target="#prop-editor" data-key="<%= prop.prop.key %>" data-value="<%= prop.prop.value %>" data-domain="<%= domain %>"><i class="icon-pencil"></i></a><% } %>
              <% if (user.hasPermissions(['DELETE-PROPERTY', 'SERVER-CONTROL'])) { %><a class="label label-danger" data-action-confirm="delete" data-key="<%= prop.prop.key %>" data-value="<%= prop.prop.value %>" data-domain="<%= domain %>"><i class="icon-remove"></i></a><% } %>
          <% } %></td>
        </tr>
  <% }) %>
    </tbody>
<% }) %>
</table>
<% } else if(_.result(obj, 'query') !== '') { %>
  <p class="alert alert-warning span12"><i class="icon-warning-sign"></i> No properties defined or insufficient user permissions</p>
<% } else { %>
<p class="alert alert-warning span12"><i class="icon-warning-sign"></i> No properties defined or insufficient user permissions</p>
<% } %>

<div id="prop-editor" class="modal hide fade wider" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalHeader">Create/update property</h3>
  </div>
  <form>
  <div class="modal-body">
      <label for="domain">Domain</label>
      <input type="text" value="" name="domain" id="domain" />
      <label for="key">Key</label>
      <input type="text" value="" name="key" id="key" />
      <label for="value">Value</label>
      <textarea type="hidden" name="value" id="value"></textarea>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-success" data-action="update">Save</button>
  </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">
// plugin showcase
$('.edit-modal').click(function (e) {
   var $target = $(e.currentTarget);
   $('#key').val($target.data('key'));
   $('#value').val($target.data('value'));
   $('#domain').val($target.data('domain'));
});
</script>
